<div class="container" ng-controller="AdminPanelCtrl" style="margin-top: 100px">
  <h2>Admin Panel</h2>
  <fieldset>
    <legend>
        Projects
        <a ng-href="/admin/project/create" target="_blank"><button type="button">Create Project</button></a>
    </legend>
      Project Filter: <input ng-model="projectFilter" autofocus />
    <h3 style="color: #EEDD44;">Draft Projects</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in draftProjects | filter:projectFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{project.body.thumbnail.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{project.body.title}}</td>
                <td>{{project.body.leadContact}}</td>
                <td>
                  <a ng-href="/project2?id={{project.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/projects/edit/{{project.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteProject(project, draftProjects, 'drafts')">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h3 style="color: #8888FF;">Published Projects</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of projects -->
            <tr ng-repeat="project in publishedProjects | filter:projectFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{project.body.thumbnail.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{project.body.title}}</td>
                <td>{{project.body.leadContact}}</td>
                <td>
                  <a ng-href="/project2?id={{project.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/projects/edit/{{project.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteProject(project, publishedProjects, 'documents')">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>
        Campaigns
        <a ng-href="/admin/campaign/create" target="_blank"><button type="button">Create Campaign</button></a>
    </legend>
      Campaign Filter: <input ng-model="campaignFilter" />
    <h3 style="color: #EEDD44;">Draft Campaigns</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in draftCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteCampaign(campaign, draftCampaigns, 'drafts')">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h3 style="color: #8888FF;">Published Campaigns</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of campaigns -->
            <tr ng-repeat="campaign in publishedCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteCampaign(campaign, publishedCampaigns, 'documents')">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>
        Events
        <a ng-href="/admin/event/create" target="_blank"><button type="button">Create Event</button></a>
    </legend>
      Event Filter: <input ng-model="eventFilter" />
    <h3 style="color: #EEDD44;">Draft Events</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in draftEvents | filter:eventFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{event.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{event.body.description}}</td>
                <td>
                  <a ng-href="/event2?id={{event.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteEvent(event, draftEvents, 'drafts')">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h3 style="color: #8888FF;">Published Events</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of events -->
            <tr ng-repeat="event in publishedEvents | filter:eventFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{event.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{event.body.description}}</td>
                <td>
                  <a ng-href="{{event.body.homepage.url | linkify}}" target="_blank">{{event.body.homepage.url}}</a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteEvent(event, publishedEvents, 'documents')">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset ng-controller="EditDonorsCtrl">
    <legend>Donors</legend>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>(Acronym) Title</th>
                <th>Region</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="donor in donors | filter:donorFilter | orderBy:'-body.updatedOn'">
                <td><img ng-src='{{donor.body.logo.url | thumbnail}}' ng-click="showingDonor[$index] = !showingDonor[$index]" style="height: 40px"></img></td>
                <td ng-click="showingDonor[$index] = !showingDonor[$index]">({{donor.body.acronym}}) {{donor.body.name}}</td>
                <td><span ng-click="showingDonor[$index] = !showingDonor[$index]">{{donor.body.country.identifier}}</span></td>
                <td>
                  <a ng-href="/donors2?id={{donor.identifier}}"><button type="button">View</button</a>
                  <a ng-click="showingDonor[$index] = !showingDonor[$index]"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteDonor(donor)">X</button>
                </td>
            </tr>
            <tr ng-show="showingDonor[$index]" ng-repeat-end>
                <td colspan="3">
                    <edit-donor donor="donor.body"></edit-donor>
                </td>
            </tr>
        </tbody>
    </table>
    <edit-donor donor="newdonor" is-create="true"></edit-donor>
  <fieldset>
    <legend>Events</legend>
      Event Filter: <input ng-model="eventFilter" autofocus />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events | filter:eventFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{event.body.thumbnail.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{event.body.title}}</td>
                <td>{{event.body.leadContact}}</td>
                <td>
                  <a ng-href="/event2?id={{event.identifier}}"><button type="button">View</button</a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteEvent(event)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Campaigns</legend>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in campaigns | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.thumbnail.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>{{campaign.body.leadContact}}</td>
                <td>
                  <a ng-href="/campaign2?id={{campaign.identifier}}">View</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}">Edit</a>
                  <button type="button" ng-click="deleteCampaign(campaign)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
</div>
