<div class="container" ng-controller="AdminPanelCtrl" style="margin-top: 100px">
  <h2>Admin Panel</h2>
  <fieldset>
    <legend>Projects</legend>
      Project Filter: <input ng-model="projectFilter" autofocus />
    <h3 style="color: #EEDD44;">Draft Projects</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in draftProjects | filter:projectFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{project.body.thumbnail.url}}" style="height: 40px;"></img></td>
                <td>{{project.body.title}}</td>
                <td>{{project.body.leadContact}}</td>
                <td>
                  <a ng-href="/admin/project2?id={{project.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/projects/edit/{{project.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteProject(project)">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h3 style="color: #8888FF;">Published Projects</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of projects -->
            <tr ng-repeat="project in publishedProjects | filter:projectFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{project.body.thumbnail.url}}" style="height: 40px;"></img></td>
                <td>{{project.body.title}}</td>
                <td>{{project.body.leadContact}}</td>
                <td>
                  <a ng-href="/project2?id={{project.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/projects/edit/{{project.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteProject(project)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset ng-controller="EditDonorsCtrl">
    <legend>Donors</legend>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>(Acronym) Title</th>
                <th>Region</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="donor in donors | filter:donorFilter | orderBy:'-body.name'">
                <td><img ng-src='{{donor.body.logo.url}}' ng-click="showingDonor[$index] = !showingDonor[$index]" style="height: 40px"></img></td>
                <td ng-click="showingDonor[$index] = !showingDonor[$index]">({{donor.body.acronym}}) {{donor.body.name}}</td>
                <td><span ng-click="showingDonor[$index] = !showingDonor[$index]">{{donor.body.country.identifier}}</span></td>
                <td>
                  <a ng-href="/donors2?id={{event.identifier}}"><button type="button">View</button</a>
                  <a ng-click="showingDonor[$index] = !showingDonor[$index]"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteEvent(event)">X</button>
                </td>
            </tr>
            <tr ng-show="showingDonor[$index]" ng-repeat-end>
                <td colspan="3">
                    <edit-donor donor="donor.body"></edit-donor>
                </td>
            </tr>
        </tbody>
    </table>
  <fieldset>
    <legend>Events</legend>
      Event Filter: <input ng-model="eventFilter" autofocus />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in events | filter:eventFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{event.body.thumbnail.url}}" style="height: 40px;"></img></td>
                <td>{{event.body.title}}</td>
                <td>{{event.body.leadContact}}</td>
                <td>
                  <a ng-href="/event2?id={{event.identifier}}"><button type="button">View</button</a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteEvent(event)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>Campaigns</legend>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Lead Contact</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in campaigns | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.thumbnail.url}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>{{campaign.body.leadContact}}</td>
                <td>
                  <a ng-href="/campaign2?id={{campaign.identifier}}">View</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}">Edit</a>
                  <button type="button" ng-click="deleteCampaign(campaign)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
</div>
