

body {
    color: #5a5a5a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}



           /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */



    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-inverse {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 11;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar-inverse {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    .navbar-inverse
    {
      left: 5%;
      right: 5%;
    }

    .navbar-fixed-top {
      position: relative;
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* the body margin for the homepage isn't the same */

    /*HERE*/
    #ngview-content
    {
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
    /* Carousel base class */
	
    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel .item {
      height: 500px;
	    border-bottom:1px solid #666;
    }
	
    .carousel-caption {
      background-color: transparent;
      font-size: 110%;
      max-width: 550px;
      width: 550px;
      padding: 0 20px;
      margin-bottom: 120px;
      margin-left: -140px;
      text-align: left;
    }
    .carousel-caption p {
      line-height: 1;
    }
    .carousel-caption h1 {
      margin: 0;
      font-size: 38.5px;
      font-weight: bold;
      line-height: 1.25;
      color: rgb(255, 255, 255);
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
     #map {
              margin-left: auto;
              margin-right: auto;
              width: 100%; 
          }
         
