



Achieving the Aichi Targets will require significant efforts by all nations of the world. In Hyderabad, at the 11th Conference of the Parties to the CBD, Decision XI/4 noted that the lack of financial resources continues to be one of the main obstacles to achieving the Convention's three objectives and implementing the Strategic Plan for Biodiversity.  The High-Level Panel on Global Assessment of Resources for Implementing the Strategic Plan for Biodiversity 2011-2020 reviewed the costs of implementation of each of the Aichi Targets. The global gap in funding area-based conservation targets is in the range of several hundred billion dollars per year. One of the outcomes of CBD COP11 was a decision to double biodiversity funding by 2015 over current levels and maintain that level until at least 2020. 
<br/><br/>
By convening donor roundtables including donors from different sectors, LifeWeb’s goal is to uncover new and additional resources for biodiversity conservation. The focus of LifeWeb is on the area-based conservation Aichi Targets. These are the targets that require action on the ground or in the sea in order to be achieved. Protected areas are often, but not the only strategy to achieve them.

<br/><br/>
<h3 >Area-based Aichi Targets relevant to the LifeWeb Initiative</h3><hr/>



<p><strong>Strategic Goal B: Reduce the direct pressures on biodiversity and promote sustainable use</strong></p><br/>

<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-05-48.png" class="pull-right" />
<span class="label label-info">Target 5</span> By 2020, the rate of loss of all natural habitats, including forests, is at least halved and where feasible brought close to zero, and degradation and fragmentation is significantly reduced.
</div>

<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-09-48.png" class="pull-right" />
<span class="label label-info">Target 9</span> By 2020, invasive alien species and pathways are identified and prioritized, priority species are controlled or eradicated, and measures are in place to manage pathways to prevent their introduction and establishment.
</div>

<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-10-48.png" class="pull-right" />
<span class="label label-info">Target 10</span> By 2015, the multiple anthropogenic pressures on coral reefs, and other vulnerable ecosystems impacted by climate change or ocean acidification are minimized, so as to maintain their integrity and functioning.
</div>


<br/><p><strong>Strategic Goal C: To improve the status of biodiversity by safeguarding ecosystems, species and genetic diversity</strong></p><br/>



<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-11-48.png" class="pull-right" />
<span class="label label-info">Target 11</span> By 2020, at least 17 per cent of terrestrial and inland water, and 10 per cent of coastal and marine areas, especially areas of particular importance for biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscapes and seascapes.
</div>

    <div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-12-48.png" class="pull-right" />
<span class="label label-info">Target 12</span>
        By 2020 the extinction of known threatened species has been prevented and their conservation status, particularly of those most in decline, has been improved and sustained. 
</div>

<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-13-48.png" class="pull-right" />
<span class="label label-info">Target 13</span> By 2020, the genetic diversity of cultivated plants and farmed and domesticated animals and of wild relatives, including other socio-economically as well as culturally valuable species, is maintained, and strategies have been developed and implemented for minimizing genetic erosion and safeguarding their genetic diversity.
</div>

<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-14-48.png" class="pull-right" />
<span class="label label-info">Target 14</span> By 2020, ecosystems that provide essential services, including services related to water, and contribute to health, livelihoods and well-being, are restored and safeguarded, taking into account the needs of women, indigenous and local communities, and the poor and vulnerable.
</div>
<div class="well"><img src="https://www.cbd.int/images/aichi/48/abt-15-48.png" class="pull-right" />
<span class="label label-info">Target 15</span> By 2020, ecosystem resilience and the contribution of biodiversity to carbon stocks has been enhanced, through conservation and restoration, including restoration of at least 15 per cent of degraded ecosystems, thereby contributing to climate change mitigation and adaptation and to combating desertification
</div>


<br/>LifeWeb as a financial mechanism also contributes toward <span class="label label-info">Aichi Target 20</span> that calls for increased funding to accomplish the goals and targets of the Strategic Plan for Biodiversity 2011-2020.<br/><br/>

<h4> <span class="glyphicon glyphicon-star-empty" style="position:relative; top:2px;"></span> More information </h4>

A set of informal "Quick Guides" covering each of the <a target="__new" href="https://www.cbd.int/sp/targets/rationale/" >Aichi Biodiversity Targets</a>, is being prepared. Additional guides are being developed and will be added as they become available. Please regard these guides as preliminary versions as it is envisaged that they will be periodically updated in the light of experiences and any comments received. 
<br/><br/>
This set of guides for the Aichi Biodiversity Targets aims to provide Parties and other stakeholders with an introduction to each of the Aichi Biodiversity Targets by quickly explaining key terms, highlighting implications for national target setting, providing guiding questions for national target setting, providing ideas for preliminary national actions, identifying possible indicators to monitor progress and identifying further resources. The guides make no attempt to reinterpret what is contained in [link https://www.cbd.int/decision/cop/?id=12268 | decision X/2] (Strategic Plan for Biodiversity 2011-2020) but are meant to serve as a resource that Parties and other stakeholders may wish to consider as they set national targets in support of the Aichi Biodiversity Targets.   
<br/><br/>
The Secretariat would welcome any feedback on the use of the target guides and suggestions for their improvement. Please send comments to secretariat@cbd.int. 
<br/><br/>

<span class="glyphicon glyphicon-file"></span><a target="__new" href="https://www.cbd.int/doc/strategic-plan/targets/compilation-quick-guide-en.pdf"> Quick Guides compiled</a>
<br/>
<span class="glyphicon glyphicon-file"></span><a target="__new" href="https://www.cbd.int/nbsap/training/quick-guides/"> Visit the Quick Guides Website</a>



