 
 
<div>


                        <a  href="{{item.webpage}}">

                           <span style="color:#000; font-weight:bold; line-height:12px;font-size:12px;white-space:nowrap;" >{{item.type}}</span> <br>
                            <img src="{{item.icon.url}}" alt="{{item.id}}" class="thumbnail" style="max-height:200px;">
                             
                            <h4 class="muted" style="padding-bottom:0;margin-bottom:0;">

                                {{item.title}}</h4></a>
                        </a>


                        <p>{{item.date}}</p>

 </div>
