<div>
    <!-- PARTIALLY FUNDED------------------------------ -->
    <div ng-if="status == 'some expected funding' || status == 'some secured funding' ">
        <div style="width:{{width}}px;font-weight:bold;padding-bottom:10px;font-size:18px;" > partially funded </div>
        
        <table style="height: 20px;margin-bottom:10px;" cellspacing="0" cellpadding="0">
            <tr>
                <td ng-show="match.funding" width="{{ (width * (match.funding | filterToUSD:match.currency)) / (total | filterToUSD:currency)  }}px" class="funded" ng-repeat="match in matches" style="border-right: 1px solid #FFF; background-color: {{fundedColors[$index]}};"></td>

                <td width="{{( width * ((total | filterToUSD:currency) - (matches |getMatchesTotalUSD))) / (total | filterToUSD:currency)}}px" class="not-funded">&nbsp; </td>

budget<td class="total" style="vertical-align: middle; padding-left: 10px; border-left: 2px solid #000; font-weight: bold;">{{total | filterCurrency:currency:display}}</td>
            </tr>

            <tr>
                <td colspan="{{matches.length}}" style="text-align: center;">{{(matches |getMatchesTotalUSD) | filterCurrency:'USD':display}} </td>

                <td class="" style="text-align: center;">{{ ((total | filterToUSD:currency) - (matches | getMatchesTotalUSD ))  | filterCurrency:'USD':display }} </td>

                <td class="total" style="vertical-align: middle; padding-left: 10px; font-weight: bold;"></td>

            </tr>
        </table>

        <div ng-repeat="match in matches" style="white-space: nowrap;">
            <span class="label" style="background-color: {{fundedColors[$index]}}; width: 100px; text-align: center;">{{match.funding |  filterCurrency:match.currency:display}}</span> {{match.donor.name}}
        </div>
        <hr style="padding:0; margin:0; width:100%;border-top:1px solid #808080;" />
        <span class="label" style="background-color: #F5A2A2; width: 100px; text-align: center;"> {{((total | filterToUSD:currency) - (matches |getMatchesTotalUSD))| filterCurrency:'USD':display }} </span> &nbsp; funding needed

    </div>


    <!--FULLY FUNDED-------------------------------->
    <div ng-if="status == 'funded'">
        <div style="font-weight:bold;font-size:18px;padding-bottom:10px;"  > fully funded </div>
         <table style="height: 20px;" cellspacing="0" cellpadding="0">
            <tr>
                <td ng-show="match.funding" width="{{ (width * (match.funding | filterToUSD:match.currency)) / (total | filterToUSD:currency)  }}px" class="funded" ng-repeat="match in matches" style="border-right: 1px solid #FFF; background-color: {{fundedColors[$index]}};"></td>

                <td class="total" style="vertical-align: middle; padding-left: 10px; border-left: 2px solid #000; font-weight: bold;">{{total | filterCurrency:currency:display}}</td>
            </tr>
        </table>
        
        <br>
        <div ng-repeat="match in matches" style="white-space: nowrap;">
            <span class="label" style="background-color: {{fundedColors[$index]}}; width: 100px; text-align: center;">{{match.funding |  filterCurrency:match.currency:display}}</span> {{match.donor.name}}
        </div>
    </div>



    <!--NOT YET FUNDED-------------------------------->
    <div ng-show="status == 'not yet funded' ">
         <table style="height:20px;" cellspacing="0" cellpadding="0" >
            <tr>
                <td style="width:{{width}}px;text-align:center;" class="not-funded"> <span style="color:white;font-weight:bold;">funding needed</td>
                <td class="total" style="vertical-align: middle; padding-left: 10px; border-left: 2px solid #000; font-weight: bold;">{{total | filterCurrency:currency:display}}</td>
            </tr>
        </table>
    </div>


    <style>
      .funded {
             background-color:#3a87ad;
          }

        .not-funded {
               background-color:#F5A2A2;
          }
      </div>

 </div>
