
<div>
<div style="background-color:#efefef; padding:10px; border-bottom: #dedede solid 1px; margin-bottom: 10px;">
            <table style="height:220px;margin:0;padding:0;" >
                <tr>
                    <td colspan="2" style="margin:0;padding:0;">
                       <span style="color:#000; font-weight:bold; line-height:12px;font-size:12px;">{{fullCountryName(proj.country_ss[0])}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; padding-right:10px;">
                        <a href="/project?id={{proj.identifier_s}}">
                            <div>
                                        <img src="{{proj.thumbnail_s}}" alt="" class="thumbnail " style="margin-right:10px;max-width:90px;" />
                                </div>
                        </a>
                    </td>
                    <td>

<a href="/project?id={{proj.identifier_s}}" class="proj_title" >
                            {{proj.title_s}}
                        </a>
                        <br/>
                        <span ng:class="{'funded':'label label-success', 'not yet funded':'label label-important', 'some secured funding':'label label-info', 'some expected funding':'label label-info'}[proj.funding_status]">
                            <span ng-switch="proj.funding_status">
                                <span ng-switch-when="not yet funded" class="label label-info">not yet funded</span>
                                <span ng-switch-when="funded" class="label label-success">fully funded</span>
                                <span ng-switch-default class="label label-info">partially funded</span>
                            </span>
                        </span>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="text-align: justify; font-size: 12px;" >
                            {{proj.description_s | htmlToPlaintext | truncate:220}} <a href="/project?id={{proj.identifier_s}}">View details &raquo;</a>
                        </p>
                    </td>
                </tr>
            </table>
 </div>
 </div>
