<link href="/app/css/zeroextinction.css" rel="stylesheet">
<script>$.stellar();</script>
<div id="zero_header" style="background-image: url(/app/images/campaigns/islandresilience/header.png); padding-left: 230px;">
    <h1 style="text-align: left; position: relative; top: 50%; font-size: 48pt; color: white;">Island Resilience Campaign</h1>
</div>
<div class="container zero_container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Lifeweb’s Island Resilience Campaign seeks to engage governments, donor institutions, relevant organizations, and island champions to develop projects and activities necessary to address biodiversity loss and sustainable livelihoods on islands.</h2>
            <p>“Let us commit to adopting, adapting and scaling up best practices so we can protect fragile ecosystems  for the benefit of all the islanders -- and indeed people everywhere --who depend on them.”</p>
            <p style="font-weight: bold;">Mr. Ban Ki-moon<br />
            United Nations Secretary-General<br />
            22 May 2014, International Day of Biological Diversity: Island Biodiversity</p>
        </div> <!-- .col -->
    </div> <!-- .row -->
</div> <!-- .container -->

<div class="container-liquid marketing first_marketing">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-circle" src="/app/images/campaigns/islandresilience/seychelles.jpg" style="height: 140px; width: 140px;" />
            <h3>Why islands, why now?</h3>
            <p><a class="btn btn-default" role="button" href="#item1">View Details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <img class="img-circle" src="/app/images/campaigns/islandresilience/sealions.jpg"  style="height: 140px; width: 140px;"/>
            <h3>Strategies to increase island resilience</h3>
            <p><a class="btn btn-default" role="button" href="#item2">View Details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <img class="img-circle" src="/app/images/campaigns/islandresilience/islandhelicopter.jpg"  style="height: 140px; width: 140px;"/>
            <h3>How to participate?</h3>
            <p><a class="btn btn-default" role="button" href="#item3">View Details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <img class="img-circle" src="/app/images/campaigns/islandresilience/spinylobster.jpg"  style="height: 140px; width: 140px;"/>
            <h3>Island Resilience Campaign Projects</h3>
            <p><a class="btn btn-default" role="button" href="#item4">View Details &raquo;</a></p>
        </div>
    </div> <!-- .row -->
</div> <!-- .container -->

<hr id="item1" class="featurette-divider" />

<div class="featurette-nav text-center">
    <a href="#top" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
    <a href="#item2" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
</div> <!-- .featurette-nav -->

<div class="stellar-container" style="background-image: url(/app/images/campaigns/islandresilience/seychelles.jpg);" data-stellar-vertical-offset="-800" data-stellar-background-ratio="0.1">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span>Why islands, why now?</span></h2>
                <div class="lead">
                While islands constitute less than 5% of the Earth’s landmass they provide habitat for 40% of all listed Critically Endangered and Endangered species. More than 80% of known species extinctions have occurred on islands. Urgent and immediate action is needed to halt and reverse trends to save our precious island ecosystems and the communities that depend upon them.
                Despite facing significant vulnerabilities, islands are taking action to effectively conserve biodiversity and promote sustainable livelihoods. Inspired island solutions to action are “bright spots” that exemplify how together we can build on what is working to conserve and sustainably utilize our invaluable natural resources, and achieve the Aichi Biodiversity Targets.
                </div>
            </div> <!-- .col-md-7 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>

<hr id="item2" class="featurette-divider" />

<div class="featurette-nav text-center">
    <a href="#item1" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
    <a href="#item3" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
</div> <!-- .featurette-nav -->

<div class="stellar-container" style="background-image: url(/app/images/campaigns/islandresilience/sealions.jpg);" data-stellar-vertical-offset="-1900" data-stellar-background-ratio="0.2">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span>Strategies to increase island resilience</span></h2>
                <div class="lead">
                The CBD Lifeweb's Island Resilience Campaign and the Global Island Partnership (GLISPA) will catalyze investment in "bright spot" projects and activities led by island countries and countries with islands that contribute to building resilient and sustainable island communities through innovative partnerships that:
                ‣ Aim to make progress toward achieving <a href="www.cbd.int/sp/targets/">Aichi Biodiversity targets</a> 9, 10, 11, and 15.
                ‣ Offer potential success/impact in advancing island priorities for effective implementation particularly through innovative partnerships i.e. by strengthening local capacity, developing innovative financing mechanisms, etc.
                </div>
            </div> <!-- .col-md-7 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>

<hr id="item3" class="featurette-divider" />

<div class="featurette-nav text-center">
    <a href="#item2" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
    <a href="#item4" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
</div> <!-- .featurette-nav -->

<div class="stellar-container" style="background-image: url(/app/images/campaigns/islandresilience/islandhelicopter.jpg);" data-stellar-vertical-offset="-400" data-stellar-background-ratio="0.8">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span>How to participate?</span></h2>
                <div class="lead">
                Potential governments of island countries and/or countries with islands interested in submitting project proposals that have the potential to build on bright spots;
                NGOs and sub-national entities working to advance national biodiversity strategic action plans;
                Potential donor governments, agencies, public or private financial institutions interested to invest in the identification, scaling or replication of island bright spots;
                ‣ Contact Charles Besancon, CBD LifeWeb, <a href="mailto: charles.besancon@cbd.int">charles.besancon@cbd.int</a>
                </div>
            </div> <!-- .col-md-7 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>

<hr id="item4" class="featurette-divider" />

<div class="featurette-nav text-center">
    <a href="#item3" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
</div> <!-- .featurette-nav -->

<div class="stellar-container" style="background-image: url(/app/images/campaigns/islandresilience/spinylobster.jpg); background-size: auto 2500px;" data-stellar-vertical-offset="-3700" data-stellar-background-ratio="0.5">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span>Island Resilience Campaign Projects</span></h2>
                <div class="lead">
                </div>
            </div> <!-- .col-md-7 -->
        </div> <!-- .row -->
    </div> <!-- .container -->
</div>
