 
<!-- NAVBAR
    ================================================== -->
  <link href="/app/css/zeroextinction.css" rel="stylesheet">
    <script>$.stellar();</script>

      <div id="zero_header">
                 <img src="/app/images/campaigns/header.gif" />
      </div>
     <div class="container zero_container">
         <div class="row">
             <div class="col-xs-12">
               
                 <h2>LifeWeb's Zero Extinction Campaign focuses attention on the extinction crisis and provides a platform for 
                    countries to profile their financial needs to prevent species extinctions (Aichi Target 12), and achieve related targets as a key accomplishment in our global effort to stem 
                    biodiversity loss.
                 </h2>
                 <p>
                     Extinction is a natural process, but most species are now threatened with extinction due to human activities. "Zero Extinction" is an ambitious goal, 
                     but science suggests that at least for vertebrate species much of the work needed to stave off many of the most predictable species losses can be 
                     accomplished through the effective conservation of a few hundred additional sites globally. Many of the most threatened species naturally have very 
                     small global ranges, and thus these conservation efforts do not necessarily require the protection of huge new areas. Conservation of these sites would
                      be a huge step toward the accomplishment of Target 12 globally.
                 </p>
             </div>
         </div> <!-- /.row -->
     </div> <!-- /.container-->


     <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

     <div class="container-liquid marketing first_marketing">
         <!-- Three columns of text below the carousel -->
         <div class="row">
             <div class="col-lg-3">
                 <img class="img-circle" src="/app/images/campaigns/item1.gif" alt="item1" />
                 <h3>Why focus on preventing extinction?</h3>
                 <p><a class="btn btn-default" role="button" href="#item1">View details &raquo;</a></p>
             </div>
             <!-- /.col-lg-3 -->
             <div class="col-lg-3">
                 <img class="img-circle" src="/app/images/campaigns/item2.gif" alt="Generic placeholder image" />
                 <h3>Strategies to prevent extinctions</h3>
                 <p><a class="btn btn-default" role="button" href="#item2">View details &raquo;</a></p>
             </div>
             <!-- /.col-lg-3 -->
             <div class="col-lg-3">
                 <img class="img-circle"src="/app/images/campaigns/item3.gif" alt="Generic placeholder image" />
                 <h3>How to participate</h3>
                 <p><a class="btn btn-default" role="button" href="#item3">View details &raquo;</a></p>
             </div>
             <!-- /.col-lg-3 -->
             <div class="col-lg-3" ng-controller="zeroExtinctionCtrl">
                 <img class="img-circle" src="/app/images/campaigns/item4.gif" alt="Generic placeholder image" />
                 <h3> <span class="label label-info"></span> Zero Extinction Campaign projects</h3>
                 <p><a class="btn btn-default" role="button" href="#item4">View details &raquo;</a></p>
             </div>
             <!-- /.col-lg-3 -->
         </div>
         <!-- /.row -->
     </div>
     <!-- /.container-->

      <!-- START THE FEATURETTES -->
     <hr id="item1" class="featurette-divider"  >

      <div class="featurette-nav text-center">
           <a href="#top" class="btn btn-default" ><i class="glyphicon glyphicon-chevron-up"></i></a>
           <a href="#item2" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
      </div>

     <div class="stellar-container" style="background-image: url(/app/images/campaigns/item1bg.jpg);" data-stellar-vertical-offset="-800" data-stellar-background-ratio="0.1">
         <div class="container marketing" >
             <div class="row featurette">
                 <div class="col-md-7">
                     <h2 class="featurette-heading"><span>Why focus on preventing extinction?</span></h2>
                     <div class="lead">
                         One-third of global species assessed for threat are in danger of extinction. This phenomenon is thought to represent the sixth major extinction event on 
              Earth and it is a major threat to the persistence of Earth's biodiversity, which is crucial to the proper functioning of ecological systems. The parties to the 
              CBD have agreed to an explicit objective -Target 12- to prevent the extinction of known threatened species in the 2011-2020 Strategic Plan for Biodiversity. While ambitious, 
              this target is achievable by 2020 with concerted effort by donors, governments, and civil society. Fewer than 600 sites have been identified to date, and already over half 
              of these sites receive formal protection.
                     </div>
                 </div>
                 <div class="col-md-5">
                 </div>
            </div><!-- /.row -->
         </div><!-- /.container-->
     </div>



      <hr id="item2" class="featurette-divider">

       <div class="featurette-nav text-center">
           <a href="#item1" class="btn btn-default" ><i class="glyphicon glyphicon-chevron-up"></i></a>
           <a href="#item3" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
      </div>

      <div class="stellar-container" data-stellar-vertical-offset="-1000" data-stellar-background-ratio="0.1" style="background-image: url(/app/images/campaigns/item2bg.jpg);">
         <div class="container marketing" >
             <div class="row featurette">
                 <div class="col-md-5">
                 </div>
                 <div class="col-md-7">  
                     <h2 class="featurette-heading"><span>Strategies to prevent extinctions</span></h2>
                     <div class="lead">
                         The Zero Extinction Campaign advances two main approaches to address extinction threat: 
                            <ol><li>Protection of unprotected sites; and,</li> 
                            <li>Enhanced protection of currently protected sites.</li>
                                </ol>
                            A major contribution to accomplishing Target 12 and an endorsed indicator from the Conference of Parties 
                           is the conservation of sites where Endangered or Critically Endangered species are found at a single remaining
                          location. Essentially, these are the most irreplaceable assets for biodiversity conservation on the planet.</div>
                 </div>
             </div><!-- /.row -->
         </div><!-- /.container-->
     </div>

      <hr  id="item3"  class="featurette-divider">

       <div class="featurette-nav text-center">
           <a href="#item2" class="btn btn-default" ><i class="glyphicon glyphicon-chevron-up"></i></a>
           <a href="#item4" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
      </div>

     <div class="stellar-container" style="background-image: url(/app/images/campaigns/item3bg.jpg);" data-stellar-vertical-offset="-1800" data-stellar-background-ratio="0.1">
         <div class="container marketing">
             <div class="row featurette">
                 <div class="col-md-7">
                     <h2 class="featurette-heading"><span>How to Participate</span></h2>
                     <div class="lead">
                         <p>LifeWeb's Zero Extinction campaign helps to finance biodiversity conservation at sites where Endangered or Critically Endangered species are found at a single remaining location on Earth. We achieve this by facilitating partnerships between public and private donors, and between developing countries and countries with economies in transition requiring funding. </p>
                         <p>Countries requiring funds should visit: <a href="/share">lifeweb.cbd.int/share</a> for more information and to access tools and data that will assist them in the preparation of a LifeWeb Expression of Interest.</p>
                         <p>Donors wishing to support this campaign should contact: <a href="mailto:lifeweb@cbd.int">lifeweb@cbd.int</a>.</p>
                     </div>
                 </div>
                 <div class="col-md-5">
                 </div>
             </div><!-- /.row -->
         </div><!-- /.container-->
     </div>

     <hr id="item4" class="featurette-divider">
     <div class="featurette-nav text-center">
         <a href="#item3" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
         <a href="#projects_featurette" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></a>
     </div>
     <div class="container marketing">
     
<div id="projects_featurette" class="row featurette" ng-controller="zeroExtinctionCtrl">
                            <div class="well row">
                                <h2 class="featurette-heading text-nowrap" style="white-space: nowrap;"> <span class="label label-info" id="zproject_count" >{{(projects ).length}}</span> Zero extinction Projects </h2>
                        
                                <div class="pull-right" style="padding-right: 10px;">Currency: {{currency}}</div>
                                <br>
                        
                        
                            </div>
                        
                            <div class="row well">
                                <table class="table table-striped  table-hover">
                                    <tr>
                                        <th></th>
                                        <th><span style="cursor:pointer;" ng-click="sortTable('title_s')">Title
                                                            <i ng-show="sortTerm=='title_s'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span></th>
                                        <th><span style="cursor:pointer" ng-click="sortTable('country_ss')">Country
                                                            <i ng-show="sortTerm=='country_ss'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                                            </span></th>
                                        <th><span style="cursor:pointer" ng-click="sortTable('totalCost')">Total Cost
                                                            <i ng-show="sortTerm=='totalCost'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                                            </span></th>
                                        <th><span style="cursor:pointer" ng-click="sortTable('funding_needed')">Funding Needed
                                                            <i ng-show="sortTerm=='funding_needed'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                                            </span></th>
                                        <th><span style="cursor:pointer" ng-click="sortTable('startDate_s')">Date
                                                            <i ng-show="sortTerm=='startDate_s'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                                            </span></th>
                                        <th><span style="cursor:pointer" ng-click="sortTable('funding_status')">Status
                                                            <i ng-show="sortTerm=='funding_status'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                                            </span></th>
                                        <th ng-if="user.roles.indexOf('LifewebAdmin') != -1">
                                            Admin
                                        </th>
                                    </tr>
                                    <tr ng:class="{'funded':'error', false:''}[match.status]" ng-repeat="match in (projectsPage =(projects  | orderBy:sortTerm:orderList)| page: pageNumber:itemsPerPage)">
                                        <td style="width: 70px;">
                                            <a href="/project?id={{match.identifier_s}}"><img class="media-object img-rounded" style="max-width: 70px;max-height:70px;" ng-src="{{match.thumbnail_s | thumbnail}}"
                                                alt="" /></a>
                                        </td>
                                        <td style="font-weight:bold;"> <a ng-href="/project?id={{match.identifier_s}}"><span class="media-heading">{{match.title_s}}</span></a></td>
                                        <td><span style="font-weight:bold;" ng-repeat="country in match.countries"> {{country|term}} <br></span></td>
                                        <td nowrap> {{match.totalCost | filterCurrency:'USD':currency}} </td>
                                        <td nowrap> {{match.funding_needed | filterCurrency:'USD':currency}} </td>
                                        <td nowrap style="font-weight:bold; text-transform:uppercase;">{{ match.startDate_s | filterDate }}</td>
                                        <td>
                                            <span ng:class="{'funded':'label label-success', 'not yet funded':'label label-danger', 'some secured funding':'label label-info', 'some expected funding':'label label-info'}[match.funding_status]">
                                                            <span ng-switch="match.funding_status">
                                                                <span ng-switch-when="not yet funded">not yet funded</span>
                                            <span ng-switch-when="funded">fully funded</span>
                                            <span ng-switch-default>partially&nbsp;funded</span>
                                            </span>
                                            </span>
                                            <div ng-repeat="funds in match.donatioFunding_ds" style="white-space:nowrap;padding-top:5px;">
                                                <a href="/donors?id={{match.donor_ss[$index]}}">{{funds |  filterCurrency:'USD':currency}}</a>
                                            </div>
                                        </td>
                                        <td ng-if="user.roles.indexOf('LifewebAdmin') != -1">
                                            <a ng-href="https://chm.cbd.int/submit/lwProject/{{match.identifier_s}}" target="_blank" style="font-size: 16pt; font-weight: bold;">EDIT</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" nowrap>
                                            <button type="button" ng-click="firstPage()" class="btn btn-default">First</button>&nbsp;
                                            <button type="button" ng-click="decPage()" class="btn btn-default">Prev {{itemsPerPage}} Projects</button>
                                        </td>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" nowrap>
                                            <button type="button" ng-click="incPage()" class="btn btn-default">Next {{itemsPerPage}} Projects</button>&nbsp;
                                            <button type="button" ng-click="lastPage()" class="btn btn-default">Last</button>
                                        </td>
                                    </tr>
                                </table>
                        
                        
                            </div>
                        
                        
                        </div>



      <!-- /END THE FEATURETTES -->
 </div><!-- end wrap-->
     <div id="to-top-div">
         <a href="#top" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
     </div>

    <script src="/app/libs/jquery.stellar/jquery.stellar.js"></script>
    <script src="/app/js/zeroextinction.js"></script>

