<div class="container" ng-controller="AdminEventsCtrl" style="margin-top: 30px">

<h1>EVENTS</h1>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title" style="font-weight:bold;font-size:20px;">DRAFT Events</h1>
            <br>
            <a class="pull-right" ng-href="/admin/event/create" target="_blank"><button type="button">Create event</button></a>
            Event Filter: <input ng-model="eventFilter" />
        </div>
        <div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Description</th>
                <th class="text-right">EDIT</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in draftEvents | filter:eventFilter | orderBy:'-updatedOn'">
                <td>{{event.body.name}}</td>
                <td>{{event.body.startDate | date : 'dd MMM yyyy'}}</td>
                <td>{{event.body.description}}</td>
                <td class="text-right">
                  <a ng-href="/event?id={{event.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}" target="_blank"><button type="button">Edit</button></a>

                  <button ng-show="confirm == 0"  type="button" ng-click="confirmDelete(event.identifier)">X</button>
                  <button ng-show="confirm == event.identifier" type="button" ng-click="cancelDelete()">CANCEL</button>
                  <button ng-show="confirm == event.identifier" type="button" class="btn-danger" ng-click="deleteEvent(event, draftEvents, 'drafts')">DELETE</button>


                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-weight:bold;font-size:20px;">PUBLISHED Events</h1>
        <br>
        Event Filter: <input ng-model="eventFilter" />

    </div>
    <div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Description</th>
                <th class="text-right">EDIT</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of events -->
            <tr ng-repeat="event in publishedEvents | filter:eventFilter | orderBy:'-updatedOn'">
                <td>{{event.body.name}}</td>
                <td>{{event.body.startDate | date : 'dd MMM yyyy'}}</td>
                <td>{{event.body.description}}</td>
                <td class="text-right">
                  <a ng-href="/event?id={{event.identifier}}" target="_blank"><button type="button">View</button></a>
                  <a ng-href="/admin/events/edit/{{event.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button ng-show="confirm == 0"  type="button" ng-click="confirmDelete(event.identifier)">X</button>
                  <button ng-show="confirm == event.identifier" type="button" ng-click="cancelDelete()">CANCEL</button>
                  <button ng-show="confirm == event.identifier" type="button" class="btn-danger" ng-click="deleteEvent(event, publishedEvents, 'documents')">DELETE</button>


                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
