<div class="container">
       <!-- Docs nav
    ================================================== -->
    <div class="row" >
    
      <div class="span3 bs-docs-sidebar" >
        <ul class="nav nav-list bs-docs-sidenav ">
          <li><a href="#about"><i class="icon-chevron-right"></i>About LifeWeb</a></li>
          <li><a href="#help"><i class="icon-chevron-right"></i>How LifeWeb Helps</a></li>
          <li><a href="#sp"><i class="icon-chevron-right"></i>The Strategic Plan for Biodiversity 2011-2020</a></li>
          <li><a href="#powpa"><i class="icon-chevron-right"></i> Area-based Aichi Targets</a></li>
          <li><a href="#mandate"><i class="icon-chevron-right"></i>Our Mandate</a></li>
          <li><a href="#rts"><i class="icon-chevron-right"></i>Roundtables</a></li>   
          <li><a href="#faqs"><i class="icon-chevron-right"></i>Frequently asked questions</a></li>
        </ul>
      </div>
      
      <div class="span9">

<!--==============================================================================-->     
      <section id="about" >    
         <h2 class="title-divider featurette-heading">About LifeWeb</h2>

          
        <h3>We facilitate financing to conserve biodiversity. </h3>
        <p> Our mission is to facilitate financing that helps secure livelihoods and address climate change through supporting the 
            implementation of the <a href="http://www.cbd.int/sp/" target="_blank">Strategic Plan for Biodiversity 2011-2020</a> and the <a href="http://www.cbd.int/protected/" target="_blank">CBD Programme of Work on Protected Areas</a>.</p>
        

        <p >Now, as never before, there is an unequivocal recognition of the potential of natural capital to contribute to the 
            health and wellbeing of the planet, rather than losing it forever to unsustainable development. Investments in the 
            projects promoted through the LifeWeb Initiative contribute to sustaining our natural capital, 
            improving livelihoods and help us all reach the <a href="http://www.cbd.int/sp/" target="_blank">Aichi Biodiversity Targets</a>.</p>
        
<br>
<h4> <i class="icon-star-empty"></i> More information </h4>
          <table>
    <tr>
        <td><a href="http://www.cbd.int/doc/publications/cbd-value-nature-en.pdf">
            <img src="/app/images/docs/valueofnature_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
        <td><a href="http://www.cbd.int/images/lifeweb/downloads/brochure.pdf">
            <img src="/app/images/docs/lwbrochure_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
        
        <td><a href="http://www.cbd.int/doc/meetings/cop/cop-11/information/cop-11-inf-48-en.pdf">
            <img src="/app/images/docs/cop11inf_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
        <td><a href="http://www.cbd.int/images/lifeweb/downloads/2pager.pdf">
            <img src="/app/images/docs/2pager_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
    </tr>
    <tr>
        <td valign="top">
            <i class="icon-file"></i><a href="http://www.cbd.int/doc/publications/cbd-value-nature-en.pdf" target="__new">The Value of Nature</a><br>
        </td>
        <td valign="top">
            <i class="icon-file"></i><a href="http://www.cbd.int/images/lifeweb/downloads/brochure.pdf" target="__new">LifeWeb Brochure</a><br>
        </td>
        <td valign="top"><i class="icon-file"></i><a href="http://www.cbd.int/doc/meetings/cop/cop-11/information/cop-11-inf-48-en.pdf" target="__new">COP 11 Inf Document</a><br>
            <td valign="top"><i class="icon-file"></i><a href="http://www.cbd.int/images/lifeweb/downloads/2pager.pdf" target="__new">LifeWeb Flyer</a><br>
            </td>
    </tr>
          </table>
      </section>
      


<!--==============================================================================-->  
<section id="help" > 
 <h2 class="title-divider featurette-heading">How LifeWeb Helps</h2> 

<h3>The LifeWeb Initiative helps:</h3>
<p>
<i class="icon-stop"></i> <strong> CBD Parties </strong>, especially developing countries, convey their funding needs for implementing projects of national priority. The LifeWeb Initiative highlights these needs to those donors who are able to create development assistance partnerships through our online clearing-house and through participation in roundtable meetings; 
</p>
<p>
<i class="icon-stop"> </i><strong> Donors</strong> (bilateral and multilateral funding agencies, development banks, private foundations, the private sector and other donor agencies) gain investment information about countries and their activities which require additional financial resources to be able to successfully implemented. The LifeWeb Initiative helps align country and donor funding priorities, as well as to develop and coordinate counterpart funding opportunities;
</p>
<p >
<i class="icon-stop"></i> <strong> Promote, inspire and recognize</strong> partnership, commitment, and progress in achieving coherent and effective implementation of the objectives of the Convention on Biological Diversity, and in particular, how biodiversity contributes as a solution to poverty eradication, climate change and sustainable development. 
</p>

</section>


<!--==============================================================================-->  
<section id="sp" > 
 <h2 class="title-divider featurette-heading">The Strategic Plan for Biodiversity </h2> 
 <h3>
The 2020 deadline for achieving most of the Aichi Biodiversity Targets is only a few years away. There is a great deal to do in this short time. The LifeWeb Initiative is dedicated to helping countries find the financial support and partnerships they need to implement the Strategic Plan for Biodiversity 2011-2020. </h3>

<p>
The Strategic Plan for Biodiversity 2011-2020 was adopted by the Conference of the Parties to the CBD at its 10th meeting and subsequently by the other four biodiversity-related agreements (CMS, CITES, UNESCO World Heritage and Ramsar), referenced in the Rio+20 Conference outcomes and United Nations General Assembly resolutions, and is widely supported by many United Nations organizations such as UNDP, UNEP, FAO as well as by IUCN and non-governmental organizations. The Strategic Plan for Biodiversity 2011-2020 and its set of targets (Aichi Targets) for achieving biodiversity and sustainable development goals has truly become the overall framework for action on biodiversity. </p>

<p>The Strategic Plan mission is: <i>"to take effective and urgent action to halt the loss of biodiversity in order to ensure that by 2020 ecosystems are resilient and continue to provide essential services, thereby securing the planet's variety of life, and contributing to human well-being, and poverty eradication. To ensure this, pressures on biodiversity are reduced, ecosystems are restored, biological resources are sustainably used and benefits arising out of utilization of genetic resources are shared in a fair and equitable manner; adequate financial resources are provided, capacities are enhanced, biodiversity issues and values mainstreamed, appropriate policies are effectively implemented, and decision-making is based on sound science and the precautionary approach."</i></p>

<br>
<h4> <i class="icon-star-empty"></i> More information </h4>
<table><tr>
<td><a href="http://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-EN.pdf"  ><img src="/app/images/docs/sp_brochure_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
<td valign="top"> 
<i class="icon-file"></i> <a href="http://www.cbd.int/sp" target="__new">CBD Strategic Plan Website</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/nbsap/training/quick-guides/" target="__new">Quick Guides for the Aichi Biodiversity Targets</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/decision/cop/?id=12268" target="__new">Full text of new Strategic Plan (annex to decision X/2)</a><br>
</td>
</tr>
</table>
</section>


<!--==============================================================================-->  
<section id="powpa" > 
 <h2 class="title-divider featurette-heading">The “Area-based” Targets     </h2> 

<p>
        <img src="http://www.cbd.int/images/aichi/48/abt-05-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-09-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-10-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-11-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-12-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-13-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-14-48.png"  />
        <img src="http://www.cbd.int/images/aichi/48/abt-15-48.png"  />
    </p>


<p>
Adopted in 2004, the CBD Programme of Work on Protected Areas (PoWPA) is the most comprehensive global plan of action for the development of participatory, ecologically representative and effectively managed national and regional protected area systems, integrating other land uses and contributing to human well-being. 
The PoWPA comprehensively addresses all the elements of Aichi Target 11, and its effective implementation will make a significant contribution to achieving not only Target 11 but many other related area-based Aichi Targets.</p>

    <div ng-include src="'/app/partials/areabasedtargets.html'"></div>

<br>
<table><tr>
<td><a href="http://www.cbd.int/doc/publications/pa-national-action-en.pdf"  ><img src="/app/images/docs/PowpaMessages_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
<td><a href="http://www.cbd.int/doc/publications/cbd-value-nature-en.pdf"  ><img src="/app/images/docs/valueofnature_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
<td><a href="http://www.cbd.int/database/attachment/?id=1408"  ><img src="/app/images/docs/teeb11_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
<td/database/attachment/?id=1720"  ><img src="/app/images/docs/t11resources_250.png" width="195" height="250" alt="sp" class="thumbnail"></a></td>
</tr>
<tr>
<td valign="top" colspan="4" > 
<br/><br/>
<i class="icon-file"></i> <a href="http://www.cbd.int/protected" target="__new">CBD Protected Areas Website</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/protected/tools/default.shtml" target="__new">PoWPA Tools and Documents Repository </a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/protected/implementation/actionplans/" target="__new">Protected Areas Action Plans</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/protected/e-learning/default.shtml" target="__new">Protected Areas E-Learning Modules</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/protected/decisions/default.shtml" target="__new">Protected Areas CBD COP Decisions</a><br>
</td>
</tr>
</table>
</section>



<!--==============================================================================-->  
<section id="mandate" > 
 <h2 class="title-divider featurette-heading">Our Mandate</h2> 

<p>Significant bilateral and multilateral funding and donor commitment has been allotted to protected area implementation over the last decade. The Global Environment Facility (GEF) has channelled investments of US $1.89 billion towards the creation and management of over 2,302 protected areas, covering more than 634 million hectares. In its fourth and fifth replenishment cycles alone, GEF programmed US $1.15 billion for protected areas. </p>

<h3 tyle="color:#2185C5;">
However, the most current reasonable estimate for the total cost of achieving Aichi Biodiversity Target 11 is $270 billion USD, or $33.75 billion USD annually, representing a substantial funding gap of between $14 to $21 billion/year. Although this figure may appear daunting, it represents only 0.000472% of the world’s GDP, and only 0.0013% of the GDP of the top 20 wealthiest nations. In order to help bridge this funding gap the CBD LifeWeb Initiative was proposed during the CBD COP 9 with the full support of all Parties.
</h3>


<p>The Conference of the Parties to the CBD at its 10th meeting, held in Nagoya, Japan in October 2010, validated the role of the LifeWeb Initiative in decision X/31(para 11-12) and encouraged countries to express their financial needs through the LifeWeb Initiative and urged donors to support those funding needs. The decision also invited donors and Parties to utilise donor roundtables supported by the LifeWeb Initiative to support mobilization of funding.
</p>

<p>The Conference of the Parties to the CBD at its 11th meeting, held in Hyderabad, India in October 2012 through decision X1/24(para 4-5) encouraged Parties to align their LifeWeb Initiative requests with national biodiversity plans, thereby creating consistency between funding requests and the achievement of several of the interrelated Aichi Targets in the Strategic Plan for Biodiversity 2011-2020. A number of European Union Council Conclusions also encourage Member States to take an active part in the LifeWeb Initiative. They stress the need to promote all necessary measures to protect biodiversity, including the establishment and effective management of protected areas through the LifeWeb Initiative. 
</p>

<p>The LifeWeb Initiative promotes consistency with the Paris Declaration on Aid Effectiveness by ensuring that projects are proposed by national governments, consistent with national priorities.
</p>

        
<br>
<h4> <i class="icon-star-empty"></i> More information </h4>

<i class="icon-file"></i> <a href="http://www.cbd.int/cop9/doc/" target="__new">CBD COP 9 Decisions</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/cop10/doc/" target="__new">CBD COP 10 Decisions</a><br>
<i class="icon-file"></i> <a href="http://www.cbd.int/cop11/doc/" target="__new">CBD COP 11 Decisions</a><br>

</table>

</section>

<!--==============================================================================-->  
<section id="rts" > 
 <h2 class="title-divider featurette-heading">Financing Roundtables</h2> 

<p>Financing roundtable meetings have proven to be an effective way to strengthen and coordinate funding among multiple donors partners, based on the recipient government’s vision of protected area priorities. Benefits include leverage opportunities among donor partners; greater awareness of the contribution biodiversity and protected area systems can make to economic development; and the potential to engage a diversity of traditional and new partners over time.
</p>
<p>
Suggested readiness criteria include:
<br>
1. Political will of the host country<br>
2. Clearly defined vision of priorities based on national planning<br>
3. Expression of Interest submitted to the LifeWeb <br>
4. Potential donor interest<br>
5. Collaboration with other sub-regional or national processes<br>
<br>
</p>

</section>

<!--==============================================================================-->  
<section id="faqs" > 
 <h2 class="title-divider featurette-heading">Frequently Asked Questions</h2> 
 

<div class="well">
<h3>1. What is an LifeWeb Expression of Interest?</h3><br/>
  A LifeWeb Expression of Interest is a submission by a country that is a Party to the Convention on Biological Diversity (CBD) that provides an overview of funding priorities. An Expression of Interest can articulate funding priorities on a comprehensive scale for a national conservation system, or a project scale for one or more protected areas, or areas where connectivity, restoration or other activities are planned to help the country reach national conservation targets aligned with the international framework of the 2011-2020 Strategic Plan for Biodiversity.  
<br><br/>
Expressions of Interest are submitted using a specific template, available for download here: <a href="/share">lifeweb.cbd.int/share</a>.
<br><br/>
Expressions of Interest meeting the eligibility criteria (see question 6) are posted on this website to invite financial support from donors</div>


<div class="well">
<h3>2. Who funds submissions to the LifeWeb Clearing House</h3><br/>
 Development cooperation partners fund projects submitted to the LifeWeb clearing-house, on a voluntary basis, through their own existing mechanisms.
        <br><br/><a href="/matches">Click here for more information about CBD LifeWeb Donors</a>
</div>



<div class="well">
<h3>3. What countries can submit Expressions of Interest?</h3><br/>

 Developing countries and countries with economies in transition that are parties to the Convention on Biological Diversity (CBD) are invited to submit Expressions of Interest. 
      <br><br/>
      A list of developing countries can be found on the <a href="http://www.imf.org/external/pubs/ft/weo/2012/01/pdf/text.pdf " target="_new">2012 World Economic Outlook Report</a> from the International Monetary Fund
      <br><br/>
      <a href="http://www.imf.org/external/np/exr/ib/2000/110300.htm" target="_new">Click here for a list of countries with economies in transition from the International Monetary Fund.</a>

</div>



<div class="well">
<h3>4. Who should submit Expressions of Interest?</h3><br/>

 Submissions should be made by a CBD focal point. If the proposed activities relate strongly to protected areas, the Focal Point for the CBD Programme of Work on Protected Areas may also submit. Submissions can also be made by indigenous or local community groups, accompanied by an endorsement letter from a Focal Point. 
      A list of Focal Points for the Programme of Work on Protected Areas is available at: <a href="http://www.cbd.int/protected/focalpoints/" target="_new">www.cbd.int/protected/focalpoints/</a>.
       A downloadable list of CBD National Focal Points is available at: <a href="http://www.cbd.int/doc/lists/nfp-cbd.pdf" target="_new">www.cbd.int/doc/lists/nfp-cbd.pdf</a>.

</div>



<div class="well">
<h3>5. Can NGOs submit Expressions of Interest?</h3><br/>

 LifeWeb Expressions of Interest must be submitted either directly by National Focal Points to the CBD or by an indigenous or 
          local community groups with the endorsement of a Focal Point (see question 3). This is to ensure that projects are consistent 
          with national protected area priorities and related national planning efforts. LifeWeb encourages NGOs to work collaboratively 
          with governments to develop Expressions of Interest and implement projects. In accordance with <a href="http://www.cbd.int/decision/cop/?id=11661 " target="__new">Decision IV/18</a> of the COP, LifeWeb 
          also encourages the development and implementation of Expressions of Interest in consultation with members of national intersectoral 
          committees established to advance implementation of the Programme of Work on Protected Areas.
</div>


 
<div class="well">
<h3>6. What information must submitters provide on the project’s budget?</h3><br/>

 The CBD Secretariat asks submitters to the LifeWeb to indicate the following information, 
          using the template provided here: <a href="/share" >lifeweb.cbd.int/share</a>.
         <ul>
            <li>The total amount of funding required for the project;</li>
            <li>The total amount of funding that is already secured (or anticipated);</li>
            <li>The total amount of funding requested from additional donor partners;</li>
         </ul>
          Additionally, submitters are requested to provide information on the financial sustainability of the project 
          (i.e. indicate institutional commitment and/or sustainable financing mechanisms), and are invited to 
          submit as annex a sustainable financial plan. 
</div>


 
<div class="well">
<h3>7. What projects are eligible to receive funding through the LifeWeb Initiative?</h3><br/>

  All Expressions of Interest submitted to the LifeWeb clearing house must:
          <ul>
           <li>Focus on initiatives that will advance implementation of the Aichi Targets in the 2011-2020 Strategic Plan for Biodiversity 
          that require area-based conservation efforts. The list of Aichi Targets eligible for consideration under the Second 
          Phase of LifeWeb include, Aichi Target 5, 9, 11, 12, 13, 14 and 15.</li>

           <li>Be consistent with priorities defined in National Biodiversity Strategies and Action Plans (NBSAPs) and CBD Programme of 
               Work on Protected Areas Action Plans</li>
            <li>Be submitted by a CBD Focal Point (the National Focal Point or the Focal Point for the Programme of Work on Protected Areas), 
                or an indigenous or local community group with an endorsement letter from a CBD Focal Point.</li>
          </ul>

            In accordance with Decision IV/18 of the COP, LifeWeb encourages development and implementation of Expressions of Interest in consultation with members of national intersectoral committees established to advance implementation of the CBD Programme of Work on Protected Areas.
            For more information on criteria, please see here: <a href="/share" >lifeweb.cbd.int/share</a>.
</div>


<div class="well">
<h3>8. What is the probability and average time to reach a match with a potential donor?</h3><br/>
    It is difficult to estimate the probability and average time to reach a match. It depends on the type, 
          strength and quality of the project submission, as well as the thematic interest and geographic focus of donors.
            <br/><br/>
            Please see the factors of success in question 12, below.
</div>







<div class="well">
        <h3>9. Can Expressions of Interest be submitted in languages other than English?</h3>

          Expression of Interest templates are available in French, Spanish, and English, and submissions can be made in any UN language. Any additional 
          documents provided as attachments can also be in languages other than English. This said, the CBD’s LifeWeb cannot arrange translation for all 
          documents submitted, and therefore it is useful to keep in mind the accessibility of the information to donors. 

          <a href="/share" target="__new">Click here to download the Expression of Interest templates and for more information on how to submit.</a>.
      </div>

<div class="well">
        <h3>10. Can one country submit more than one Expression of Interest?</h3>
          <span class="label label-info">Yes.</span> More than one Expression of Interest may be submitted per country. Especially when submitting a comprehensive, 
          national scale Expression of Interest outlining financing needs for the national conservation systems, a country may 
          also wish to submit smaller scale Expressions of Interest for high priority projects at the subnational level. Countries 
          that submit a national scale comprehensive Expression of Interest and other project scale Expressions of Interest should 
          clearly indicate how they relate, i.e., which is the “umbrella submission”, which are components of the comprehensive 
          umbrella submission, and the link between the different project scale submissions if there is more than one. LifeWeb is 
          working with a diversity of donor partners, who have a diversity of capacity and foci, so different scale opportunities are 
          relevant to different donor partners. Please also note that a single Expression of Interest can include several area-based 
          project components. In addition, countries may coordinate within their regions to present a large scale submission of
           regional priorities.
      </div>


 
<div class="well">
        <h3>11. Is there a deadline to submit an Expression of Interest?</h3>

          <span class="label label-info"> No.</span> An Expression of Interest can be submitted at any time. There are no deadlines for submissions to the LifeWeb Clearing-House.
      </div>

<div class="well">
        <h3>12. What are some common factors that will help secure donor support?</h3>

           Common characteristics of submissions to CBD LifeWeb that have been successful include:
          <ul>
            <li><span class="label label-info">Alignment:</span> The Expression of Interest is aligned with a national biodiversity strategy and/or action plan consistent with the 2011-2020 Strategic Plan for Biodiversity. Evidence of alignment could include that the Expression of Interest is included in part or in whole as a priority item within the national strategy.</li>
             <li><span class="label label-info">Consistency:</span> The priorities profiled in the Expression of Interest are consistently conveyed to multiple donors, including through ongoing development cooperation channels, and at high levels.</li>
             <li><span class="label label-info">Leverage:</span> Some aspects of the Expression of Interest are supported by another partner(s), creating opportunity for counterpart funding and greater profile.</li>
            <li><span class="label label-info">Coordination:</span> When you are approaching a donor partner, let us know. The LifeWeb Coordination Unit are able to help by sending reinforcing messages in support of your efforts.</li>
                </ul>
      </div>


<div class="well">
        <h3>13. What are other ways I can contribute to the success of LifeWeb?</h3>
     
        CBD Parties wishing to make a significant contribution to the conservation of biodiversity within their own borders can profile their efforts on the Biodiversity Champions website: <a href="http://www.cbd.int/champions/" target="__new">www.cbd.int/champions/</a>
          <br/><br/>
          Donors wishing to contribute to CBD LifeWeb Coordination Unit, please contact <a href="mailto:lifeweb@cbd.int">charles.besancon@cbd.int</a>

      </div>

 
 
</section>
      
      
</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->
