    <div class="container">


       <!-- Docs nav
    ================================================== -->
    <div class="row" >

      <div class="col-xs-3" >
        <div class="bs-sidebar affix" id="sidebar">
          <ul class="nav nav-list bs-docs-sidenav ">
            <li><a href="#contact"><i class="icon-chevron-right"></i>Contact us</a></li>
            <li><a href="#list"><i class="icon-chevron-right"></i>Join our mailing list</a></li>

            <li><a href="#twitter"><i class="icon-chevron-right"></i>Twitter</a></li>
            <li><a href="#facebook"><i class="icon-chevron-right"></i>Facebook</a></li>

          </ul>
        </div>
      </div>

      <div class="col-xs-9">


           <!--==============================================================================-->
    <section id="contact">
        <h2 class="title-divider featurette-heading" style="margin: 47px 0 15px 0; padding: 0;">Contact us</h2>
         <div style="width:980px;height:400px"><iframe width="980" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=413%2BCBD%2BSaint%2BJacques%2BStreet%2C%2Bsuite%2B800%2B%2BMontreal%2C%2BCANADA%2BQC%2BH2Y%2B1N9&ie=UTF8&z=12&t=m&iwloc=addr&output=embed"></iframe>
          </div>

        <h3>Secretariat of the Convention on Biological Diversity</h3>

        <strong>LifeWeb Coordination Office</strong>
        <br />
        413, Saint Jacques Street, suite 800
        <br />
        Montreal QC H2Y 1N9, Canada
        <br /><br />
        Tel: +1 514 288 2220
        <br />
        Fax: +1 514 288 6588
        <br />
        E-Mail: lifeweb@cbd.int
        <br />
        Web:  lifeweb.cbd.int
        <br /><br />

        <p>
            LifeWeb Coordination Office is located in the Secretariat of the Convention on Biological Diversity in Montreal, Cananda. The office is very close to metro station Square Victoria. Whether you want to visit us by air, train, bus or car, we are easily found and within walking distance of many downtown hotels. Please click the map to view our exact location.

        </p>

    </section>




  <!--==============================================================================-->
    <section id="list">
        <h2 class="title-divider featurette-heading" style="margin: 47px 0 15px 0; padding: 0;">Join our mailing list</h2>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup controls" class="col-xs-4">

            <form action="https://cbd.us2.list-manage.com/subscribe/post?u=42a68ff261d38de4d33dc9f2d&amp;id=cfa7ebf03a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" style="width: 200px;">
                  <span class="input-group-btn">
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn" style="top: -20!important; position: relative!important; vertical-align: top;">sign up</button>
                  </span>
                </div>
            </form>
        </div>
    </section>





    <!--==============================================================================-->
    <section id="twitter">
        <h2 class="title-divider featurette-heading" style="margin: 47px 0 15px 0; padding: 0;">Twitter</h2>
        <a class="twitter-timeline" href="https://twitter.com/CBDLifeWeb" data-widget-id="345645894055636992">Tweets by @CBDLifeWeb</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

    </section>


    <!--==============================================================================-->
    <section id="facebook">
        <h2 class="title-divider featurette-heading" style="margin: 47px 0 15px 0; padding: 0;">Facebook</h2>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FCBD-LifeWeb%2F149494725067720%3Ffref%3Dts&amp;width=910&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=true&amp;header=true" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100%; height: 290px;" allowtransparency="true"></iframe>
    </section>



</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->
