    <div class="container" ng-cloak>


    <div class="row"  >
      <div class="col-xs-3" >
        <div class="bs-sidebar affix" id="sidebar">
          <ul class="nav nav-pills nav-stacked bs-docs-sidenav ">
            <li><a href="#regions"><span class="glyphicon glyphicon-chevron-right"></span>Regions</a></li>
            <li><a href="#mega"><span class="glyphicon glyphicon-chevron-right"></span>Megadiverse Countries</a></li>
            <li><a href="#ldcs"><span class="glyphicon glyphicon-chevron-right"></span>Least Developed Countries</a></li>
            <li><a href="#sids"><span class="glyphicon glyphicon-chevron-right"></span>Small Island Developing States</a></li>
            <li><a href="#land"><span class="glyphicon glyphicon-chevron-right"></span>Land Locked Developing States</a></li>
            <!--<li><a href="#small"><span class="glyphicon glyphicon-chevron-right"></span>Small states</a></li>-->
          </ul>
        </div>
      </div>
      
      <div class="col-xs-9">

<!--==============================================================================-->     
<section id="regions" >    
      <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;"> World Regions</h2>   
			 <div ng-include src="'app/partials/regions.html'"></div>
</section>

<!--==============================================================================-->     
<section id="mega" style="margin-top:40px;" >    
       <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Megadiverse Countries</h2> 
       <p>The megadiverse countries are a group of countries that harbor the majority of the Earth's species and are therefore considered extremely biodiverse. Conservation International identified 17 megadiverse countries in 1998. 
           All are located in, or partially in, the tropics.</p>
 <div ng-include src="'app/partials/megadiverse.html'"></div>
</section>

 
<!--==============================================================================-->     
<section id="ldcs" style="margin-top:40px;" >    
       <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Least Developed Countries (LDCs)</h2> 
       <p>A Least Developed Country (LDC) is a country which, according to the United Nations, exhibits the lowest indicators of socioeconomic development, with the lowest Human Development Index ratings of all countries in the world. <p/>
 <div ng-include src="'app/partials/ldcs.html'"></div>
</section>

<!--==============================================================================-->     
<section id="sids" style="margin-top:40px;">    
              <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Small Island Developing States (SIDS)</h2> 
              
              <p>Small Island Developing States (SIDS) are low-lying coastal countries that tend to share similar sustainable development challenges, including small but growing populations, limited resources, remoteness, susceptibility to natural disasters, vulnerability to external shocks, excessive dependence on international trade, and fragile environments. Their growth and development is also held back by high communication, energy and transportation costs, irregular international transport volumes, disproportionately expensive public administration and infrastructure due to their small size, and little to no opportunity to create economies of scale.</p>
              
              <div ng-include src="'app/partials/sids.html'"></div>

</section> 

<!--==============================================================================-->     
<section id="land" style="margin-top:40px;">    
              <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Land Locked Developing Countries</h2> 
              
              <p>Landlocked developing countries (LLDC) are developing countries that are landlocked.[1] The economic and other disadvantages experienced by such countries makes the majority of landlocked countries Least Developed Countries (LDC), with inhabitants of these countries occupying the bottom billion tier of the world's population in terms of poverty.[2] Apart from Europe, there is not a single successful highly developed landlocked country when measured with the Human Development Index (HDI) and nine of the twelve countries with the lowest HDI scores are landlocked.[3] Landlocked countries that rely on transoceanic trade usually suffer a cost of trade that is double of their maritime neighbours.[4] Landlocked countries experience economic growth 6% less of their non-landlocked countries, holding other variables constant.[5]</p>
              
              <div ng-include src="'app/partials/lldcs.html'"></div>

</section>    
   

<!--==============================================================================-->     
<!--<section id="small" style="height:900px;margin-top:40px;">    
         <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Small States</h2> 


Countries with a population under 1.5 million, can vary greatly in their level of development and the size of their economies. They are also spread out geographically, with most ofthem clustered in the Caribbean, the Pacific, and in Africa. Despite their diversity, these countries share a common set of development challenges:

Challenge: Size

Vulnerability to economic shocks and income volatility. Because of the small size of their economies, growth strategies in small states rely on foreign markets. A high degree of openness however means that they are heavily exposed to external shocks in global markets. Moreover, their narrow resource base and small domestic markets prevent small economies from diversifying into a wide range of activities, making them more vulnerable to terms of trade shocks. When one dominant activity declines, it has an impact throughout the economy, exposing the population to income volatility which can create additional hardships as the poorest are less able to weather shocks to their incomes. Government revenues are also volatile because they rely more heavily on taxing imports as a source of revenue. As tariffs are reduced, so is the government’s income.

Limited capacity.  Because of their size, small states are traditionally characterized by weak capacity in both the public and the private sector. They also tend to have larger public sectors than other countries. In some states, a widely scattered population adds to the challenge.  Small states also lack sufficient institutional capacity to participate fully in international fora, which can profoundly affect their economies.

Difficulty accessing external capital. Access to global capital markets is important for small states, and is one way to compensate for adverse shocks and income volatility. But private markets tend to see small states as more risky than larger countries, so spreads are higher and market access is more difficult.

Challenge: Geography

Limited competitiveness. Three out of four of developing small states are islands or widely dispersed multi-island states; others are land-locked, and some are located far from major markets.  Their remoteness and isolation make it difficult and costly for these states to access world markets to compensate for small domestic markets — a situation that increases the cost of intermediated inputs and imports and prevents efficiency and innovation. Domestic competition is also limited, which hampers successful development.

Susceptibility to natural disasters and climate change. Most small states are vulnerable to climate change related impacts and natural disasters such as hurricanes, cyclones, droughts, and volcanic eruptions that typically affect an entire population and economy. The impact on the government’s finances can be overwhelming, limiting a country’s ability to build cushions for development programs and future needs. 

</section> -->
      
</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->
