
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container" data-ng-controller="DonorCtrl">

       <!-- Docs nav
    ================================================== -->
    <div class="row"  >
    <!--
      <div class="span3 bs-docs-sidebar" >
        <ul class="nav nav-list bs-docs-sidenav ">
          <li><a style="font-size:14px;color:#999;text-transform:uppercase;">LifeWeb Donor</a></li>
          <li><a href="#info"><i class="icon-chevron-right"></i>Donor Information</a></li>
          <li><a href="#funded"><i class="icon-chevron-right"></i>Funded Projects</a></li>
        </ul>
      </div>
      -->

      <div class="span9" >
          <section  id="info" >
             <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">
                 <img ng-show="donor.logo" src="{{donor.logo.url}}" alt="{{donor.header.identifier}}" style="max-width: 200px; max-hieght: 100px;"/>
                 {{donor.name}}</h2>
                 <p ng-bind-html="donor.description" ></p>
                 <p>{{fullCountryName(donor.country.identifier)}}</p>
                 <a ng-href="{{donor.website.url | linkify}}" target="_blank">{{donor.website.url}}</a>

              <div ng-show="donor.socialMedia && count(donor.socialMedia[0])">
                  <h4>Links</h4>
                  <div ng-repeat="(type, link) in donor.socialMedia[0]">
                      <a href="{{link}}" class="{{type}}">{{link}}</a> <!-- TODO: fillin social media filters...-->
                      <br />
                  </div>
              </div>

          </section>

          <section id="funded" >
              <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Funded LifeWeb Projects</h2>
                <projecttable projects="matches"></projecttable>
          </section>

</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->
