      <div class="container" style="padding-top: 100px; padding-left: 100px;" data-ng-controller="EventsCtrl">

           <div ng-controller="PageController" class="pull-right">
        <div ng-show="session.isAdministrator">
            <a href="https://dev-chm.cbd.int/submit/lwEvent/{{eventID}}" target="_edit_" class="btn btn-warning">edit </a>
           <!-- <a href="https://www.cbd.int/admin/clearcachekey.shtml?key=DEVENTS" target="_refresh_" class="btn btn-info">refresh cache </a>-->
        </div>
    </div>

          <div class="row">

              <!-- left side bar https://dev-chm.cbd.int/submit/lwProject/-->
              <div class="col-xs-8">

                  <h1 class="title-divider" ng-bind-html="event.name"></h1>
                  <div class="event-date color-blue"><strong>{{event.startDate | date : "dd MMM yyyy"}}</strong> <span ng-show="event.endDate"> - <strong>{{event.endDate| date : "dd MMM yyyy" }}</strong></span></div>
                  <div style="margin-bottom:30px;" ng-bind-html="event.description"></div>
                  <iframe ng-src="{{event.firstDocumentLink}}" style="width:700px; height:950px;"> </iframe>

              </div><!-- end left side bar -->


              <!-- right side bar -->
              <div class="col-xs-4" >

                  <img src="{{event.coverImage.url}}" ng-show="event.coverImage.url" class="img-polaroid" style="max-width:300px;" />


                  <div ng-show="event.project" >
                      <h3 class="title-divider">Expression of Interest</h3>
                        <a href="/project?id={{event.project.identifier}}">View Expression of Interest</a>
                      </div>

                 <div ng-show="event.documents">
                      <h3 class="title-divider">Documents</h3>
                      <div>
                          <ul ng-repeat="link in event.documents">
                              <li><a href="{{link.url}}" target="_new"><i class="icon-file"></i>{{link.title}}</a></li>
                          </ul>
                      </div>
                  </div><!-- end documents -->


                  <div ng-show="(event.images).length > 0">
                      <h3 class="title-divider">Images</h3>
                      <div >
                          <div ng-repeat="slide in event.images">
                              <a href="#myModal{{$index}}"  data-toggle="modal">
                                  <img src="{{slide.url}}" alt="x" style="width:300px;" class="img-polaroid img-rounded">
                              </a>
                              <br>
                              <!-- Modal -->
                              <div id="myModal{{$index}}" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">x</button><br>
                                  <img src="{{slide.url}}" alt="{{$index}}">
                                  <p>{{slide.title}}</p>
                              </div>
                          </div>
                      </div>
                  </div>





              </div><!-- end right side bar -->
          </div> <!-- end row-->
      </div><!-- end container-->
