    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container" style="min-height:800px!important;">

       <!-- Docs nav
    ================================================== -->
        <div class="row" ng-controller="ProjectsCtrl" >
            <div class="col-xs-3">
              <div class="bs-sidebar affix" id="sidebar">
                <ul class="nav nav-pills nav-stacked bs-docs-sidenav ">
                  <li>
                    <a style="font-size: 14px; color: #999; text-transform: uppercase;">

                      Search
                      <span class="badge pull-right" style="font-size:110%;">{{(projects | filter:search.keyword | filterCountry:search.country | filterYear:search.year_submitted | filterEcoservices:search.benefits | filterFunding:search.funding_needed | filterFundingStatus:search.is_funded | filterTargets:search.targets ).length}}</span>
                    </a>
                  </li>
                  <li>
                    <input ng-model="search.keyword" placeholder="Keywords" class="form-control">
                  </li>
                  <li>
                    <select class="form-control" ng-model="search.country" ng-options="country.code as country.name for country in ((countries | filterProjectCountry:filtered)| orderBy:'name' ) ">
                      <option value="" selected>Country</option>
                    </select>
                  </li>
                  <li>
                    <select class="form-control" ng-model="search.is_funded" style="width: 100%; margin-top: 5px;">
                      <option value="" selected>Funding status</option>
                      <option value="funded">funded</option>
                      <option value="not yet funded">not yet funded</option>
                      <option value="some expected funding">some expected funding</option>
                      <option value="some secured funding">some secured funding</option>
                    </select>
                  </li>
                  <li>
                    <select class="form-control" ng-model="search.benefits" style="width: 100%; margin-top: 5px;">
                      <option value="" selected>Ecosystem Benefits</option>
                      <option value="ecoservices1">Climate Change Mitigation</option>
                      <option value="ecoservices2">Climate Change Adapation</option>
                      <option value="ecoservices3">Freahwater Security</option>
                      <option value="ecoservices4">Food Security</option>
                      <option value="ecoservices5">Human Health</option>
                      <option value="ecoservices6">Cultural and Spiritual Access</option>
                      <option value="ecoservices7">Income Generation</option>
                    </select>
                          <!--<select ng-model="search.targets" style="width: 100%; margin-top: 5px;">
                            <option value="" selected>Aichi Targets</option>
                            <option value="Target1">Target 1: </option>
                            <option value="Target2">Target 2: </option>
                              <option value="Target3">Target 3: </option>
                              <option value="Target4">Target 4: </option>
                              <option value="Target5">Target 5: </option>
                              <option value="Target6">Target 6: </option>
                              <option value="Target7">Target 7: </option>
                              <option value="Target8">Target 8: </option>
                              <option value="Target9">Target 9: </option>
                              <option value="Target10">Target 10: </option>
                              <option value="Target11">Target 11: </option>
                              <option value="Target12">Target 12: </option>
                              <option value="Target13">Target 13: </option>
                              <option value="Target14">Target 14: </option>
                              <option value="Target15">Target 15: </option>
                              <option value="Target16">Target 16: </option>
                              <option value="Target17">Target 17: </option>
                              <option value="Target18">Target 18: </option>
                              <option value="Target19">Target 19: </option>
                              <option value="Target20">Target 20: </option>
                        </select>-->
                  </li>
                  <li>
                    <select class="form-control" ng-model="search.year_submitted" style="width: 100%; margin-top: 5px;">
                        <option value="" selected>Year Submitted</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                    </select>
                  </li>
                  <li>
                    <select class="form-control" ng-model="search.funding_needed" style="width: 100%; margin-top: 5px;">
                        <option value="" selected>Amount of Funding Needed</option>
                        <option value="0">less than $0.5M USD</option>
                        <option value="500000">$0.5M to $2.5M USD</option>
                        <option value="2500000">$2.5M to $10M USD</option>
                        <option value="10000000">more than $10M USD</option>
                    </select>
                    <a class="btn btn-info" href="/explore/">clear search</a>
                    </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-9">



                <section id="projects" >
                    <h2 class="title-divider featurette-heading">LifeWeb Projects</h2>
                    <span class="muted">National priority projects</span>
                    <div class="pull-right"><a ng-click="toggleList()" style="cursor:pointer;"><i class="{{listStyle}}"></i></a></div>
                    <!--
                    <div class="pull-right" style="padding-right:10px;">Currency: <a ng-click="toggleCurrency()" style="cursor:pointer;">{{currency}}</a> | </div>
                    -->


                    <div ng-show="list==false" class="media project_well" ng-repeat="proj in filtered = (projects | filter:search.keyword | filterCountry:search.country | filterYear:search.year_submitted | filterEcoservices:search.benefits | filterFunding:search.funding_needed | filterFundingStatus:search.is_funded | filterTargets:search.targets )| orderBy:sortTerm:orderList">
                        <a class="pull-left" href="/projects?id={{proj.id}}" >
                            <img ng-show="proj.old_id" class="media-object img-rounded" style="margin-top: 8px; width: 90px;" src="http://www.cbd.int/images/lifeweb/eoi/thumbnails/{{proj.old_id}}.jpg" alt="" />
                            <img ng-hide="proj.old_id" class="media-object img-rounded" style="margin-top: 8px; width: 90px;" src="http://www.cbd.int/images/lifeweb/eoi/thumbnails/{{proj.id}}.png" alt="" />
                            <div class="media-type" style="color: #333">{{ proj.approved_on_date | filterDate  }}</div>
                        </a>

                        <div class="media-body">
                            <span class="media-type" ng-bind-html-unsafe="proj.country"></span>
                            <a href="/project?id={{proj.identifier}}">
                              *<h4 class="media-heading">{{proj.title}}</h4>
                            </a>
                            <span>{{proj.summary}}</span>
                            <br />

                            <div>
                                <span ng-show="proj.is_funded" style="color: #F00;">FUNDED:&nbsp;</span>
                                <span style="font-weight: bold; font-size: 13px;">{{proj.funding_needed | filterCurrency:proj.currency:currency}}</span>
                            </div>

                        </div>
                    </div>


                    <div id="List" ng-show="list==true">
                        <style>
                            table td {
                                vertical-align: top;
                                font-size:12px;
                                line-height:14px!important;
                            }

                        </style>
                        <projecttable projects="(projects | filter:search.keyword | filterCountry:search.country | filterYear:search.year_submitted | filterEcoservices:search.benefits | filterFunding:search.funding_needed | filterFundingStatus:search.is_funded | filterTargets:search.targets)" currency="currency"></projecttable>
                    </div>
                </section>

            </div><!-- end span 9-->
    </div><!-- end row-->
</div><!-- end container -->
