    <div class="container" style="top:100px;position:relative" >

        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron"  style="background-color:#8acbc2;background-image:url(https://www.cbd.int/images/lifeweb/events/soi.jpg);background-position:-180px -800px;background-repeat:no-repeat;">
                    <p style="color: #9f9f9f">LifeWeb and the Sustainable Ocean Initiative present</p>
                    <h1 style="color: #247587">Celebrating commitment</h1>
                    <h2>MPAs in the Mediterranean, West Africa and beyond</h2>
                    <p style="padding-top: 10px;">
                        Cocktail and Dinner - Thursday, 24 October 2013, 6.30 p.m. to 9.30 p.m. 
                                <br />
                        Salon Panoramique, Fort Ganteaume (2 Boulevard Charles Livon, Marseille 13007, France)
                        <br /><br />
                        <span style="font-size: 14px; font-weight: bold;">For more information or to RSVP please contact: <a href="mailto:johany.martinez@cbd.int">johany.martinez@cbd.int</a>
                        <br />
                        <span style="font-size: 12px; font-weight: bold;"> By invitation only. Smart casual dress code required.</span>
                    </p>
                </div>



               <p style="font-size:110%">This event will take place in Marseille, France during the 3rd International Marine Protected Areas Congress in the
                    lovely Old Port at Fort Gantaume. The event will bring together governments, donors and technical partners for an 
                   evening to celebrate commitments to marine protected areas in the Mediterranean, West Africa and beyond. </p>

                    <p  style="font-size:110%">The event is organized by the United Nations Convention on Biological Diversity through the efforts of the LifeWeb 
                        Initiative and the Sustainable Ocean Initiative. Funding support comes from the German government's International 
                        Climate Initiative, the Japanese Biodiversity Fund and the French Marine Protected Areas Agency. Your hosts for the 
                        evening will be from the MEDPAN Association and the Abidjan Convention. </p>

                <p  style="font-size:110%">This event is by invitation only. Smart casual dress code required. </p>
                   </div>
        </div>



            <div class="col-xs-12">
                 <p style="font-size: 24px; border-bottom: solid 1px #eee;padding-top:30px;margin-bottom:20px;">LifeWeb Funding Requests</p>
              
                  <table class="table table-striped  table-hover">
                            <tr>
                                <th></th>
                                <th><span style="cursor:pointer;" ng-click="sortTable('title')">Title 
                                    <i ng-show="sortTerm=='title'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i></span></th>
                                <th><span style="cursor:pointer" ng-click="sortTable('country')">Country
                                    <i ng-show="sortTerm=='country'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                    </span></th>
                                <th><span style="cursor:pointer" ng-click="sortTable('funding_needed')">Funding needed
                                    <i ng-show="sortTerm=='funding_needed'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                                    </span></th>
                               
                            </tr>
                            <tr>
                                <td style="width: 70px;">
                                    <a href="/project?id=23916">
                                    <img  class="media-object img-rounded" style="width: 70px;max-height:70px;" src="https://www.cbd.int/images/lifeweb/eoi/thumbnails/23916.png" alt="" /></a>
                                </td>
                                <td style="font-weight:bold;"> <a href="/project?id=23916"><span class="media-heading" >Establishing and strengthening an effective marine protected areas network in Lebanon</span></a></td>
                                <td> <span style="font-weight:bold;">LEBANON</span></td>
                                <td nowrap>$859 000  </td>
                               
                            </tr>
                      <tr>
                                <td style="width: 70px;">
                                    <a href="/project?id=23936">
                                    <img  class="media-object img-rounded" style="width: 70px;max-height:70px;" src="https://www.cbd.int/images/lifeweb/eoi/thumbnails/23936.png" alt="" /></a>
                                </td>
                                <td style="font-weight:bold;"> <a href="/project?id=23936"><span class="media-heading" >Creation de l'Aire Protegee Marine des Iles Ehotile</span></a></td>
                                <td> <span style="font-weight:bold;">COTE D'IVORE</span></td>
                                <td nowrap> $850 000 </td>
                                
                            </tr>

                      <tr>
                                <td style="width: 70px;">
                                    <a href="/project?id=23954">
                                    <img  class="media-object img-rounded" style="width: 70px;max-height:70px;" src="https://www.cbd.int/images/lifeweb/eoi/thumbnails/23954.png" alt="" /></a>
                                </td>
                                <td style="font-weight:bold;"> <a href="/project?id=23954"><span class="media-heading" >Achieving Marine and Coastal requirements of the Aichi Biodiversity Target 11 by 2020</span></a></td>
                                <td> <span style="font-weight:bold;">GAMBIA</span></td>
                                <td nowrap> $10 551 409</td>
                               
                            </tr>
                        </table>


                </div>
             







         




        <div class="row">
            <div class="col-xs-9">

                <p style="font-size: 24px; border-bottom: solid 1px #eee;padding-top:30px;margin-bottom:20px;">Background</p>
                <p>
                    The tenth meeting of the Conference of 
the Parties to the Convention on Biological 
Diversity (COP 10, Nagoya, Japan, October 
2010) ushered in a new era of biodiversity 
conservation. The 193 Parties to the Convention on Biological Diversity and their 
partners rose to the challenge of reversing biodiversity loss, which is occurring at 
an unprecedented rate - up to 1000 times 
the natural rate of extinction - by adopting 
a new 10-year Strategic Plan (2010-2020) 
and Aichi Biodiversity Targets to guide 
international and national efforts to safeguard biodiversity.
                </p>
                <p>
                    COP 10 urged Parties and other Governments to: achieve long-term conservation, 
management and sustainable use of marine resources and coastal habitats; establish and effectively manage marine protected areas, in order to safeguard marine 
and coastal biodiversity, marine ecosystem 
services, and sustainable livelihoods; and 
to adapt to climate change, through appropriate application of the precautionary 
approach and the use of integrated marine 
and coastal area management, marine spatial planning, impact assessment, and other 
available tools.
                </p>
                <p>
                    COP 10 emphasized the need for training 
and capacity-building of developing country Parties through workshops that contribute to sharing experiences and knowledge 
related to the conservation and sustainable 
use of marine and coastal biodiversity.
                </p>



              <p style="font-size:24px;border-bottom:solid 1px #eee;padding-top:30px;margin-bottom:20px;">Aichi Biodiversity Targets related to marine and coastal biodiversity</p>
                <style>
                    table td {
                        vertical-align:top;
                        padding:10px;
                    }

               </style>
                <table><tr>
                    <td><strong>Target 6</strong> <br> <img src="/app/lifeweb/images/targets/06.png" style="width:50px; margin-right:40px;"></td>
                    <td>By 2020 all fish and invertebrate stocks and aquatic plants are 
managed and harvested sustainably, 
legally and applying ecosystem based 
approaches, so that overfishing is avoided, recovery plans and measures are in 
place for all depleted species, fisheries 
have no significant adverse impacts on 
threatened species and vulnerable ecosystems and the impacts of fisheries 
on stocks, species and ecosystems are 
within safe ecological limits.</td>
</tr><tr>
                    <td><strong>Target 10</strong> <br> <img src="/app/lifeweb/images/targets/10.png" style="width:50px; margin-right:40px;"></td>
                    <td>By 2015, the multiple anthropogenic pressures on coral reefs, and 
other vulnerable ecosystems impacted 
by climate change or ocean acidification 
are minimized, so as to maintain their 
integrity and functioning.
                    </td>
</tr><tr>
                    <td><strong>Target 11</strong> <br> <img src="/app/lifeweb/images/targets/11.png" style="width:50px; margin-right:40px;"></td>
                    <td>By 2020, at least 17 per cent 
of terrestrial and inland water areas, and 
10 per cent of coastal and marine areas, 
especially areas of particular importance 
for biodiversity and ecosystem services, 
are conserved through effectively and 
equitably managed, ecologically representative and well connected systems 
of protected areas and other effective 
area-based conservation measures, and 
integrated into the wider landscapes 
and seascapes</td>
    </tr><tr>
                </table>


            </div>
            <div class="col-xs-3" style="padding-top:70px;">
                <blockquote >
                    <p style="font-size: 125%;color:#247587">
                        "the time to act is now, if we are to ensure a healthy 
                            and sustainable future for the environments that 
                            cover three-quarters of the surface of our globe - the 
                            environments that make ours a beautiful, blue planet."
                    </p>
                    <small>One Ocean Many Worlds of Life, <cite title="Source Title">CBD booklet on 2012 
                            International Day for Biological Diversity: Marine Biodiversity </cite></small>
                </blockquote>



            </div>
      </div>


        <div class="row">
            <div class="col-xs-12">
                <p style="font-size:24px;border-bottom:solid 1px #eee;padding-top:30px;margin-bottom:20px;">Links</p>
                <ul>
                    <li>Network of Marine Protected Area Managers in the Mediterranean (MedPAN) <a href="http://www.facebook.com/MedPAN.network/info">www.medpan.org</a> | <a href="http://www.facebook.com/MedPAN.network/info">facebook</a> |  <a href="http://twitter.com/MedPAN">twitter </a></li>
                    <li>3<sup>rd</sup> International Marine Protected Areas Congress (IMPAC3) <a href="http://www.facebook.com/MedPAN.network/info">www.impac3.org/</a> </li>
                    <li>Sustainable Oceans Initiative (SOI)  <a href="https://www.cbd.int/marine/doc/soi-brochure-2012-en.pdf">brochure</a></li>
                </ul>

                
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <br/><br/><br/><br/>
                <hr>
                <div class="text-center">
                    <img src="https://www.cbd.int/images/lifeweb/logos/un_blue.jpg" style="height: 70px; padding-right: 50px;">
                    <img src="https://www.cbd.int/images/lifeweb/logos/unep.png" style="padding-right: 50px;">
                    <img src="https://www.cbd.int/images/lifeweb/logos/cbd.gif" style="padding-right: 40px;">
                    <img src="https://www.cbd.int/images/lifeweb/logos/lifeweb.png" style="height: 60px; padding-right: 50px;">
                    <img src="https://www.cbd.int/images/lifeweb/logos/soi.png" style="height: 60px;padding-right: 15px;">
                    <img src="https://www.cbd.int/images/lifeweb/logos/medpan.png" style="height: 60px">
                </div>
            </div>
        </div>
        <div style="height: 200px">
        </div>

</div><!-- end container -->
