<div>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>Description</th>
        <th>Attachment Keywords</th>
        <th>Attachment Link</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="ngModel.attachments.length">
        <td colspan="4" style="font-weight: bold; text-align: center;">... No Attachments Yet. Feel free to upload any related documents below ...</td>
      </tr>
      <tr ng-repeat="attachment in ngModel.attachments" ng-controller="keywordsUsingController">
        <td><input type="text" ng-model="attachment.title" /></td>
        <td><input type="text" ng-model="attachment.description" /></td>
        <td>
          <tags-input id="attachkeywords" ng-model="fakeKeywords">
          </tags-input>
        </td>
        <td><a ng-href="{{file_server}}{{attachment.url}}">Download Attachment</a><button ng-click="ngModel.attachments.splice($index, 1)">X</button></td>
      </tr>
      <tr><td colspan="4" style="border-bottom: 1px solid gray;"></td></tr>
      <tr>
        <td>
          <input type="text" ng-model="newAttachment.title" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" style="width: 300px;" placeholder="title" /><br />
          <tags-input id="attachkeywords" ng-model="newAttachment.keywords">
          </tags-input><br />
          <div ng-file-drop="onFileSelect($files, 'newAttachment')" ng-file-drag-over-class="dragdrophover">
            <input type="hidden" class="pull-left" ng-model="newAttachment.url" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" style="width: 300px;" placeholder="URL - drag and drop a file" /><br />
            <input type="file" ng-file-select="onFileSelect($files, 'newAttachment')" class="pull-left" />
            <button type="button" ng-click="addItem('newAttachment', 'attachments')">Add</button>
          </div>
        </td>
        <td colspan="3">
          <textarea ng-model="newAttachment.description" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" style="width: 500px; height: 100%;" placeholder="Attachment information/description"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
