<div class="row" ng-show="breadcrumbs.length>1" ng-controller="BreadcrumbsCtrl">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li></li>
      <li ng-repeat="breadcrumb in breadcrumbs" ng-class="{'no-before': $first}">
        <ng-switch on="$last">
          <span ng-switch-when="true">{{breadcrumb.label}}</span>
          <span ng-switch-default>
            <a ng-href="{{breadcrumb.path}}">{{breadcrumb.label}}</a>
          </span>
        </ng-switch>
    </li>
  </ol>
</div>
</div>
