<div class="row header-row" ng-controller="HeaderCtrl">
  <!-- <div class="col-lg-1">
  </div> -->
  <div class="col-lg-10">
    <h1>Lifeweb #</h1>
    <h2>Cultis vicissim et protenta Ascalonem.</h2>
  </div>
  <div class="col-lg-2 m-t-s">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div ng-include="'/app/views/header/navbar.html'"></div>
<div ng-include="'/app/views/header/breadcrumbs.html'"></div>
