<div class="container" ng-controller="AdminCampaignsCtrl" style="margin-top: 30px">

<h1>CAMPAIGNS</h1>


<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-weight:bold;font-size:20px;">DRAFT Campaigns</h1>
        <br>
        <a class="pull-right" ng-href="/admin/campaigns/create" target="_blank"><button type="button" class="btn-info">add new</button></a>
        Campaign Filter: <input ng-model="campaignFilter" />
    </div>
    <div class="panel-body">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Link</th>
                <th class="text-right">EDIT</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in draftCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
              </td>
              <td class="text-right">
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>

                  <button ng-show="confirm == 0"  type="button" ng-click="confirmDelete(event.identifier)">X</button>
                  <button ng-show="confirm == event.identifier" type="button" ng-click="cancelDelete()">CANCEL</button>
                  <button ng-show="confirm == event.identifier" type="button" class="btn-danger" ng-click="deleteCampaign(campaign, draftCampaigns, 'drafts')">DELETE</button>


                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>



<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-weight:bold;font-size:20px;">PUBLISHED Campaigns</h1>
        <br>
        Campaign Filter: <input ng-model="campaignFilter" />
    </div>
    <div class="panel-body">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Link</th>
                <th  class="text-right">EDIT</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of campaigns -->
            <tr ng-repeat="campaign in publishedCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
              </td>
              <td class="text-right">
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>

                  <button ng-show="confirm == 0"  type="button" ng-click="confirmDelete(event.identifier)">X</button>
                  <button ng-show="confirm == event.identifier" type="button" ng-click="cancelDelete()">CANCEL</button>
                  <button ng-show="confirm == event.identifier" type="button" class="btn-danger" ng-click="deleteCampaign(campaign, publishedCampaigns, 'documents')">DELETE</button>


                </td>
            </tr>
        </tbody>
    </table>
</div>
