<div class="container" ng-controller="AdminCampaignsCtrl" style="margin-top: 100px">
  <fieldset>
    <legend>
        Campaigns
        <a ng-href="/admin/campaigns/create" target="_blank"><button type="button">Create Campaign</button></a>
    </legend>
      Campaign Filter: <input ng-model="campaignFilter" />
    <h3 style="color: #EEDD44;">Draft Campaigns</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="campaign in draftCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteCampaign(campaign, draftCampaigns, 'drafts')">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <h3 style="color: #8888FF;">Published Campaigns</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: remove duplicated code between different forms of campaigns -->
            <tr ng-repeat="campaign in publishedCampaigns | filter:campaignFilter | orderBy:'-updatedOn'">
                <td><img ng-src="{{campaign.body.logo.url | thumbnail}}" style="height: 40px;"></img></td>
                <td>{{campaign.body.title}}</td>
                <td>
                  <a ng-href="{{campaign.body.homepage.url | linkify}}" target="_blank">{{campaign.body.homepage.url}}</a>
                  <a ng-href="/admin/campaigns/edit/{{campaign.identifier}}" target="_blank"><button type="button">Edit</button></a>
                  <button type="button" ng-click="deleteCampaign(campaign, publishedCampaigns, 'documents')">X</button>
                </td>
            </tr>
        </tbody>
    </table>
  </fieldset>
</div>
