<link href="/app/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" rel="stylesheet">
<style>
  .dragdrophover {
    background-color: #DDDDFF;
    border: dashed 2px gray;
    padding: 1px;
  }
</style>
<div class="container" style="margin-top: 100px;" ng-controller="EditProjectCtrl">
  <h1>Expression of Interest</h1>
  <form class="form-horizontal" role="form" ng-submit="save()">
    <afc-input ng-model="project.contact" data-title="Lead Contact" data-placeholder="Contact's full name"></afc-input>
    <div class="form-group">
      <label for="Countries" class="col-sm-2 control-label">Countries</label>
      <div class="col-sm-10">
        <tags-input id="Countries" ng-model="project.countries">
          <auto-complete source="countryOptions($query)" min-length="1" debounce-delay="0"></auto-complete>
        </tags-input>
      </div>
    </div>
    <afc-input ng-model="project.title" data-title="Title" data-placeholder="title"></afc-input>
    <afc-input type="number" ng-model="project.timeframe" title="Timeframe" placeholder="years"></afc-input>
    <afc-text ng-model="project.abstract" data-title="Abstract" data-placeholder="Abstract of Project"></afc-text>
    <div class="row form-group" ng-file-drop="onFileSelect($files, 'thumbnail', project)" ng-file-drag-over-class="dragdrophover">
      <label class="col-xs-2 control-label">Thumbnail</label>
      <div class="col-xs-5">
        <input type="text" class="pull-left" ng-model="project.thumbnail" />
      </div>
      <div class="col-xs-5">
        <input type="file" ng-file-select="onFileSelect($files, 'thumbnai', project)" class="pull-left" />
      </div>
    </div>
        
    <hr />
    
    <h3>Link with the 2011-2020 strategic plan for biodiversity and the Aichi targets</h3>
    <h4>Lifeweb facilitates financing that contribute toward the achievement of the area-based Aichi Targets in the 2011-2020 Strategic Plan for Biodiversity.</h4>
    <select ng-change="addTab(aichi_target_tabs, aichi_targets, addingAichiTab)" ng-model="addingAichiTab" ng-options="idx as target.name for (idx, target) in aichi_targets"></select>
    <tabbed-textareas rows="4" ng-model="project.aichi_targets" deletable-tabs="true" tabs="aichi_target_tabs" title-key="name" help-key="name" key-key="identifier"></tabbed-textareas>
    
    <h3>Alignment with National Planning</h3>
    <h4>Consistent with the decision X/31, please indicate the relevance between this sbumission and the following planning processes</h4>
    <tabbed-textareas rows="4" ng-model="project.national_alignment" tabs="national_alignment" title-key="title" help-key="help" key-key="key"></tabbed-textareas>

    <h3>Ecological Contribution</h3>
    <h4>Please indicate the extend to which the area(s) is/are ecological priority(s) for the national protected area system, based on contribution to ecological representation, connectivity, viability and/or irreplaceability within the protected area system. If available, please refer to the national ecological gap analysis or other geographic prioritisation exercises.</h4>
    <textarea class="form-control" ng-model="project.ecological_contribution" rows="4"></textarea>

    <h3>Contribution to Climate Change</h3>
    <select ng-model="addingBenefitsTab" ng-change="addTab(climate_contribution_tabs, 0, addingBenefitsTab)">
      <option value="" selected>Ecosystem Benefits</option>
      <option value="ecoservices1">Climate Change Mitigation</option>
      <option value="ecoservices2">Climate Change Adapation</option>
      <option value="ecoservices3">Freahwater Security</option>
      <option value="ecoservices4">Food Security</option>
      <option value="ecoservices5">Human Health</option>
      <option value="ecoservices6">Cultural and Spiritual Access</option>
      <option value="ecoservices7">Income Generation</option>
    </select>


    <tabbed-textareas rows="4" ng-model="project.climate_contribution" tabs="climate_contribution_tabs" title-key="title" help-key="help" key-key="key"></tabbed-textareas>

    <hr />

    <h3>Institutional Context</h3>
    <h4>Partners to be involved and their roles</h4>
    <table>
      <thead>
        <tr>
          <th>Partner Name</th>
          <th>Role In This Project</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="partner in project.institutional_context">
          <td><input type="text" ng-model="partner.name" /></td>
          <td>
            <select ng-model="partner.role">
              <option value="community_engagement">Community Engagement</option>
              <option value="implementation">Implementation</option>
              <option value="monitoring">Monitoring</option>
              <option value="partner_coordination">Partner Coordination</option>
              <option value="project_management">Project Management</option>
              <option value="strategic_planning">Strategic Planning</option>
              <option value="technical_support">Technical Support</option>
            </select>
            <button ng-click="project.institutional_context.splice($index, 1)">X</button>
          </td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newpartner.name" ng-keydown="maybeAddItem($event, 'newpartner', 'institutional_context')" /></td>
          <td>
            <select ng-model="newpartner.role">
              <option value="community_engagement">Community Engagement</option>
              <option value="implementation">Implementation</option>
              <option value="monitoring">Monitoring</option>
              <option value="partner_coordination">Partner Coordination</option>
              <option value="project_management">Project Management</option>
              <option value="strategic_planning">Strategic Planning</option>
              <option value="technical_support">Technical Support</option>
            </select>
            <button type="button" ng-click="addItem('newpartner', 'institutional_context')">Add</button></td>
        </tr>
      </tbody>
    </table>

    <h3>Budget</h3>
    <table>
      <thead>
        <tr>
          <th>Activities</th>
          <th>Results</th>
          <th>Cost (USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="activity in project.budget">
          <td><input type="text" ng-model="activity.activity" /></td>
          <td><input type="text" ng-model="activity.result" /></td>
          <td><input type="number" ng-model="activity.cost" /><button ng-click="project.budget.splice($index, 1)">X</button></td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: right">Total: ${{sum(project.budget, 'cost')}}</td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newActivity.activity" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" /></td>
          <td><input type="text" ng-model="newActivity.result" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" /></td>
          <td><input type="number" ng-model="newActivity.cost" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" /><button type="button" ng-click="addItem('newActivity', 'budget')">Add</button></td>
        </tr>
      </tbody>
    </table>

    <hr />

    <div class="form-group">
      <label for="keywords" class="col-sm-2 control-label">Keywords</label>
      <div class="col-sm-10">
        <tags-input id="keywords" ng-model="project.keywords">
          <auto-complete source="keywordOptions($query)" min-length="1" debounce-delay="0"></auto-complete>
        </tags-input>
      </div>
    </div>

    <h3>Images</h3>
    <h4>Please send <strong>high quality</strong> images and any additional media (videos, brochures, etc.) of the project. At least one image is required.</h4>
    <div class="row">
      <table class="col-sm-9">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="image in project.images">
            <td><input type="text" ng-model="image.title" /></td>
            <td><input type="text" ng-model="image.description" /></td>
            <td><a ng-href="{{image.url}}">View Image</a><button ng-click="project.images.splice($index, 1)">X</button></td>
          </tr>
          <tr>
            <td><input type="text" ng-model="newImage.title" ng-keydown="maybeAddItem($event, 'newImage', 'images')" /></td>
            <td><input type="text" ng-model="newImage.description" ng-keydown="maybeAddItem($event, 'newImage', 'images')" /></td>
            <td ng-file-drop="onFileSelect($files, 'newImage')" ng-file-drag-over-class="dragdrophover"><div><input type="text" class="pull-left" ng-model="newImage.url" ng-keydown="maybeAddItem($event, 'newImage', 'images')" /></div><input type="file" ng-file-select="onFileSelect($files, 'newImage')" class="pull-left" /><button type="button" ng-click="addItem('newImage', 'images')">Add</button></td>
          </tr>
        </tbody>
      </table>
      <fieldset class="col-sm-3">
        <legend>New Image Preview</legend>
        <img ng-src="{{newImage.url}}" style="max-height: 100px;"></img>
      </fieldset>
    </div>

    <h3>Links with the World Database on Protected Areas</h3>
    <h4>If this project's scope involved protected areas registered in the World Database on Protected Areas (WDPA), please include the URL links where the sites appear on http://www.protectedplanet.net of all the areas involved in this project.. If the area(s) are not registered in the WDPA, please indicate the complete name(s).</h4>
    <div ng-repeat="protected_area in project.protected_areas">
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="protected_area" />
      </div>
      <div class="col-sm-2">
        <a ng-href="{{protected_area}}">View</a><button ng-click="project.protected_areas.splice($index, 1)">X</button>
      </div>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="newProtected_area" ng-keydown="maybeAddPrimitive($event, 'newProtected_area', 'protected_areas')" />
    </div>
    <div class="col-sm-2">
      <button class="col-sm-2 form-control" ng-click="addPrimitive('newProtected_area', 'protected_areas')">Add</button>
    </div>
    <br />

    <h3>Maps</h3>
    <h4>Please send <strong>high quality digital GIS files</strong> or scanned maps situating and describing the project area. There files may be made available for download on the LifeWeb website and may be used in CBD and LifeWeb communication materials</h4>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Map Link</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="map in project.maps">
          <td><input type="text" ng-model="map.title" /></td>
          <td><input type="text" ng-model="map.description" /></td>
          <td><a ng-href="{{map.url}}">View Map</a><button ng-click="project.maps.splice($index, 1)">X</button></td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newMap.title" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" /></td>
          <td><input type="text" ng-model="newMap.description" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" /></td>
          <td ng-file-drop="onFileSelect($files, 'newMap')" ng-file-drag-over-class="dragdrophover">
            <div>
              <input type="text" class="pull-left" ng-model="newMap.url" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" />
            </div>
            <input type="file" ng-file-select="onFileSelect($files, 'newMap')" class="pull-left" /><button type="button" ng-click="addItem('newMap', 'maps')">Add</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Coordinates</h3>
    <lonlat-input ng-model="project.coordinates" help="General Longitude and Latutide of the project."></lonlat-input>

    <h3>Attachments</h3>
    <h4>Please add any supporting documents/annexes attached to this Expression of Interest</h4>
    <table>
      <thead>
        <tr>
          <th>title</th>
          <th>Description</th>
          <th>Attachment Keywords</th>
          <th>Attachment Link</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="attachment in project.attachments">
          <td><input type="text" ng-model="attachment.title" /></td>
          <td><input type="text" ng-model="attachment.description" /></td>
          <td>
            <tags-input id="attachkeywords" ng-model="attachment.keywords">
              <auto-complete source="keywordOptions($query)" min-length="1" debounce-delay="0"></auto-complete>
            </tags-input>
          </td>
          <td><a ng-href="{{attachment.url}}">Download Attachment</a><button ng-click="project.attachments.splice($index, 1)">X</button></td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newAttachment.title" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" /></td>
          <td><input type="text" ng-model="newAttachment.description" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" /></td>
          <td>
            <tags-input id="attachkeywords" ng-model="newAttachment.keywords">
              <auto-complete source="keywordOptions($query)" min-length="1" debounce-delay="0"></auto-complete>
            </tags-input>
          </td>
          <td ng-file-drop="onFileSelect($files, 'newAttachment')" ng-file-drag-over-class="dragdrophover">
            <div>
              <input type="text" class="pull-left" ng-model="newAttachment.url" ng-keydown="maybeAddItem($event, 'newAttachment', 'attachments')" />
            </div>
            <input type="file" ng-file-select="onFileSelect($files, 'newAttachment')" class="pull-left" /><button type="button" ng-click="addItem('newAttachment', 'attachments')">Add</button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr />

    <h3>Additional Project Information</h3>

    <afc-textarea title="Additional Information" ng-model="project.additional_information"></afc-textarea>

    <hr />

    <h3>Add and Edit Donors</h3>
    <table>
      <thead>
        <tr>
          <th>Donor Name</th>
          <th>Description</th>
          <th>Funding</th>
          <th>Date Donated</th>
          <th>Faciliated by LifeWeb</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="donor in project.donors">
          <td><input type="text" ng-model="donor.name" /></td>
          <td><input type="text" ng-model="donor.description" /></td>
          <td><input type="number" ng-model="donor.funding" /></td>
          <td><input type="date" ng-model="donor.date_donated" /></td>
          <td><input type="checkbox" ng-model="donor.lifeweb_facilitated" /><button ng-click="project.donors.splice($index, 1)">X</button></td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: right">Total: ${{sum(project.donors, 'funding')}}</td>
        </tr>
        <tr>
          <td><input type="text" ng-model="newdonor.name" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /></td>
          <td><input type="text" ng-model="newdonor.description" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /></td>
          <td><input type="number" ng-model="newdonor.funding" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /></td>
          <td><input type="date" ng-model="newdonor.date_donated"  ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /></td>
          <td><input type="checkbox" ng-model="newdonor.lifeweb_facilitated" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /><button type="button" ng-click="addItem('newdonor', 'donors')">Add</button></td>
        </tr>
      </tbody>
    </table>
    <h3>Note: all Expressions of Interests (projects) expire after a year</h3>

    <hr />

    <div class="form-group">
      <button type="submit" class="form-control">Save</button>
    </div>
  </form>
</div>
