<link href="/app/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" rel="stylesheet">
<link href="/app/css/lifeweb_admin.css" rel="stylesheet">
<style>
  .dragdrophover {
    background-color: #DDDDFF;
    border: dashed 2px gray;
    padding: 1px;
  }
</style>
<div class="container" style="margin-top: 100px;" ng-controller="EditProjectCtrl">
  <ng-include src="'/app/partials/admin_header.html'"></ng-include>
  <h1>Expression of Interest</h1>
  <div workflow-std-buttons document="document"></div>
  <div class="row" ng-show="tab=='edit'" km-tab="edit">
    <form novalidate name="editProjectForm" class="form-horizontal" role="form" ng-submit="save('lwProject')">
      <afc-input ng-model="document.leadContact" required data-title="Lead Contact" data-placeholder="Contact's full name"></afc-input>
      <div class="form-group">
        <label for="Countries" class="col-sm-2 control-label">Country or Countries</label>
        <div class="col-sm-10">
          <afc-autocomplete ng-model="document.countries" source="countriesAC" selectbox="true" placeholder="Please enter the country or countries involved..." multiple="true" mapping="identifierMapping"></afc-autocomplete>
          <!--
          <tags-input min-tags="1" id="Countries" ng-model="document.countries">
            <auto-complete source="countryOptions($query)" min-length="1" debounce-delay="0"></auto-complete>
          </tags-input>
          -->
        </div>
      </div>
      <afc-input ng-model="document.title" required data-title="Title" data-placeholder="title"></afc-input>
      <afc-input type="number" ng-model="document.timeFrame" title="Timeframe" placeholder="years"></afc-input>
      <afc-text ng-model="document.description" required data-title="Abstract" data-placeholder="Abstract of Project"></afc-text>
      <!--TODO: add preview -->
      <div class="row form-group" ng-file-drop="onFileSelect($files, 'thumbnail', document)" ng-file-drag-over-class="dragdrophover">
        <label class="col-xs-2 control-label">Thumbnail</label>
        <div class="col-xs-5">
          <input type="text" class="pull-left" ng-model="document.thumbnail" />
        </div>
        <div class="col-xs-5">
          <input type="file" ng-file-select="onFileSelect($files, 'thumbnail', document)" class="pull-left" />
        </div>
      </div>
          
      <hr />
      
      <h3>Link with the 2011-2020 strategic plan for biodiversity and the Aichi targets</h3>
      <h4>Lifeweb facilitates financing that contribute toward the achievement of the area-based Aichi Targets in the 2011-2020 Strategic Plan for Biodiversity.</h4>
      <div style="border: dotted 1px gray">
        <p>Select an Aichi Target attributed to this project...</p>
        <button type="button" ng-repeat="aichi in aichi_targets" ng-click="addTab(aichi_target_tabs, aichi_targets, $index)" class="addTabButton">
          <span class="glyphicon glyphicon-plus"></span>
          <span>{{aichi.name}}</span>
        </button>
      </div>
      <tabbed-textareas rows="4" ng-model="fakeAichiTargets" deletable-tabs="true" tabs="aichi_target_tabs" title-key="name" help-key="name" key-key="identifier"></tabbed-textareas>
      
      <h3>Alignment with National Planning</h3>
      <h4>Consistent with the decision X/31, please indicate the relevance between this sbumission and the following planning processes</h4>
      <tabbed-textareas rows="4" ng-model="fakeNationalAlignment" tabs="national_alignment" title-key="title" help-key="help" key-key="key"></tabbed-textareas>

      <h3>Ecological Contribution</h3>
      <h4>Please indicate the extend to which the area(s) is/are ecological priority(s) for the national protected area system, based on contribution to ecological representation, connectivity, viability and/or irreplaceability within the protected area system. If available, please refer to the national ecological gap analysis or other geographic prioritisation exercises.</h4>
      <h3>Contribution to Climate Change</h3>
      <div style="border: dotted 1px gray">
        <p>Select an Contribution to Climate Change attributed to this project...</p>
        <button type="button" ng-repeat="contrib in contrib_climate" ng-click="addTab(climate_contribution_tabs, contrib_climate, $index)" class="addTabButton">
          <span class="glyphicon glyphicon-plus"></span>
          <span>{{contrib.title}}</span>
        </button>
      </div>


      <tabbed-textareas rows="4" ng-model="fakeEco" tabs="climate_contribution_tabs" title-key="title" help-key="help" key-key="key"></tabbed-textareas>

      <hr />

      <h3>Institutional Context</h3>
      <h4>Partners to be involved and their roles</h4>
      <table>
        <thead>
          <tr>
            <th>Partner Name</th>
            <th style="width: 40px;">Info</th>
            <th>Role In This Project</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="document.institutionalContext.length">
            <td colspan="4" style="font-weight: bold; text-align: center;">... No Partners yet. Please add a partner below ...</td>
          </tr>
          <tr ng-repeat="partner in document.institutionalContext">
            <td><input type="text" ng-model="partner.name" /></td>
            <td><input type="text" ng-model="partner.info" /></td>
            <td>
              <afc-autocomplete source="roles" ng-model="partner.role"></afc-autocomplete>
            </td>
            <td>
              <button ng-click="document.institutionalContext.splice($index, 1)">X</button>
            </td>
          </tr>
          <tr><td colspan="4" style="border-bottom: 1px solid gray;"></td></tr>
          <tr>
            <td>
              <input type="text" style="width: 300px;" ng-model="newpartner.name" ng-keydown="maybeAddItem($event, 'newpartner', 'institutionalContext')" placeholder="Full Name"/><br />
              <afc-autocomplete source="roles" ng-model="newpartner.role" placeholder="Role"></afc-autocomplete><br />
              <button type="button" ng-click="addItem('newpartner', 'institutionalContext')">Add New Partner</button>
            </td>
            <td colspan="3">
              <textarea style="width: 600px; height: 100%;" ng-model="newpartner.info" ng-keydown="maybeAddItem($event, 'newpartner', 'institutionalContext')" placeholder="Partner Role Information"></textarea>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Budget</h3>
      <table>
        <thead>
          <tr>
            <th>Activities</th>
            <th>Results</th>
            <th>Cost (USD)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="document.budget.length">
            <td colspan="4" style="font-weight: bold; text-align: center;">... No Activities Yet. Please add an activity below ...</td>
          </tr>
          <tr ng-repeat="activity in document.budget">
            <td><input type="text" ng-model="activity.activity" /></td>
            <td><input type="text" ng-model="activity.result" /></td>
            <td><input type="number" ng-model="activity.cost" /><button ng-click="document.budget.splice($index, 1)">X</button></td>
          </tr>
          <tr><td colspan="4" style="border-bottom: 1px solid gray;"></td></tr>
          <tr ng-show="document.budget.length">
            <td colspan="3" style="text-align: right">Total: ${{sum(document.budget, 'cost')}}</td>
          </tr>
          <tr>
            <td><textarea name="addActivity" ng-model="newActivity.activity" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" style="width: 300px;" palceholder="Activities"></textarea></td>
            <td><textarea type="text" ng-model="newActivity.result" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" style="width: 300px;" palceholder="Result"></textarea></td>
            <td><input type="number" ng-model="newActivity.cost" ng-keydown="maybeAddItem($event, 'newActivity', 'budget')" placeholder="$$$" /><br /><button type="button" ng-click="addItem('newActivity', 'budget')">Add</button></td>
          </tr>
        </tbody>
      </table>

      <hr />

      <h3>Images</h3>
      <h4>Please send <strong>high quality</strong> images and any additional media (videos, brochures, etc.) of the project. At least one image is required.</h4>
      <div class="row">
        <table class="col-sm-9">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Image Link</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-hide="document.images.length">
              <td colspan="4" style="font-weight: bold; text-align: center;">... No Images Yet. Please upload and add an image below ...</td>
            </tr>
            <tr ng-repeat="image in document.images">
              <td><input type="text" ng-model="image.title" /></td>
              <td><input type="text" ng-model="image.description" /></td>
              <td><a ng-href="{{file_server}}{{image.url}}">View Image</a><button ng-click="document.images.splice($index, 1)">X</button></td>
            </tr>
            <tr><td colspan="4" style="border-bottom: 1px solid gray;"></td></tr>
            <tr>
              <td>
                <input style="width: 300px;" type="text" ng-model="newImage.title" ng-keydown="maybeAddItem($event, 'newImage', 'images')" placeholder="Title" />
                <div ng-file-drop="onFileSelect($files, 'newImage')" ng-file-drag-over-class="dragdrophover">
                  <input type="hidden" class="pull-left" style="width: 200px;" ng-model="newImage.url" ng-keydown="maybeAddItem($event, 'newImage', 'images')" placeholder="URL - drag and drop file" />
                  <input type="file" ng-file-select="onFileSelect($files, 'newImage')" class="pull-left" /><br />
                  <button type="button" ng-click="addItem('newImage', 'images')">Add</button>
                </div>
              </td>
              <td colspan="2">
                <textarea style="width: 500px; height: 100%;" ng-model="newImage.description" ng-keydown="maybeAddItem($event, 'newImage', 'images')" placeholder="Image description"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <fieldset class="col-sm-3">
          <legend>New Image Preview</legend>
          <img ng-src="{{file_server}}{{newImage.url}}" style="max-height: 100px;"></img>
        </fieldset>
      </div>

      <h3>Links with the World Database on Protected Areas</h3>
      <h4>If this project's scope involved protected areas registered in the World Database on Protected Areas (WDPA), please include the URL links where the sites appear on http://www.protectedplanet.net of all the areas involved in this project. If the area(s) are not registered in the WDPA, please indicate the complete name(s).</h4>
      <div ng-repeat="protectedArea in document.protectedAreas">
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="protectedArea" />
        </div>
        <div class="col-sm-2">
          <a ng-href="{{protectedArea}}">View</a><button ng-click="document.protectedAreas.splice($index, 1)">X</button>
        </div>
      </div>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="newProtected_area" ng-keydown="maybeAddPrimitive($event, 'newProtected_area', 'protectedAreas')" />
      </div>
      <div class="col-sm-2">
        <button class="col-sm-2 form-control" ng-click="addPrimitive('newProtected_area', 'protectedAreas')">Add</button>
      </div>
      <br />

      <h3>Maps</h3>
      <h4>Please send <strong>high quality digital GIS files</strong> or scanned maps situating and describing the project area. There files may be made available for download on the LifeWeb website and may be used in CBD and LifeWeb communication materials</h4>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Map Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="document.maps.length">
            <td colspan="4" style="font-weight: bold; text-align: center;">... No Maps Yet. Please upload and add a map below ...</td>
          </tr>
          <tr ng-repeat="map in document.maps">
            <td><input type="text" ng-model="map.title" /></td>
            <td><input type="text" ng-model="map.description" /></td>
            <td><a ng-href="{{file_server}}{{map.url}}">View Map</a><button ng-click="document.maps.splice($index, 1)">X</button></td>
          </tr>
          <tr><td colspan="4" style="border-bottom: 1px solid gray;"></td></tr>
          <tr>
            <td>
              <input type="text" style="width: 300px;" ng-model="newMap.title" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" placeholder="title"/>
              <div ng-file-drop="onFileSelect($files, 'newMap')" ng-file-drag-over-class="dragdrophover">
                <input type="hidden" class="pull-left" ng-model="newMap.url" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" placeholder="URL - drag and drop a file" style="width: 200px;" />
                <input type="file" ng-file-select="onFileSelect($files, 'newMap')" class="pull-left" /><br />
                <button type="button" ng-click="addItem('newMap', 'maps')">Add</button>
              </div>
            </td>
            <td colspan="2">
              <textarea style="width: 500px; height: 100%;" ng-model="newMap.description" ng-keydown="maybeAddItem($event, 'newMap', 'maps')" placeholder="Map information"></textarea></td>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Coordinates</h3>
      <lonlat-input ng-model="document.coordinates" required help="General Longitude and Latutide of the project."></lonlat-input>

      <h3>Attachments</h3>
      <h4>Please add any supporting documents/annexes attached to this Expression of Interest</h4>
      <elink ng-model="document.attachments" typeTitle="Attachment"></elink>

      <hr />

      <h3>Additional Project Information</h3>
      <afc-textarea title="Additional Information" ng-model="document.additional_information"></afc-textarea>


      <hr />

      <h3>Add and Edit Donors</h3>
      <table style="width: 90%">
        <thead>
          <tr>
            <th>Donor Name</th>
            <th>Description</th>
            <th>Funding</th>
            <th>Date Donated</th>
            <th>Faciliated by LifeWeb</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-hide="document.donors.length">
            <td colspan="5" style="font-weight: bold; text-align: center;">... No Donors Yet. Add any pre-existing donors to using the form below ...</td>
          </tr>
          <tr ng-repeat="donor in document.donors">
            <td><input type="text" ng-model="donor.name" /></td>
            <td><input type="text" ng-model="donor.description" /></td>
            <td><input type="number" ng-model="donor.funding" /></td>
            <td><input type="date" ng-model="donor.date_donated" /></td>
            <td><input type="checkbox" ng-model="donor.lifeweb_facilitated" /><button ng-click="document.donors.splice($index, 1)">X</button></td>
          </tr>
          <tr ng-show="document.donors.length">
            <td colspan="5" style="text-align: right">Total: ${{sum(document.donors, 'funding')}}</td>
          </tr>
          <tr><td colspan="5" style="border-bottom: 1px solid gray;"></td></tr>
          <tr>
            <td colspan="4" style="padding-top: 10px;">
              Name: <input type="text" ng-model="newdonor.name" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" style="width: 500px;" placeholder="name" /><br />
              <input type="text" ng-model="newdonor.description" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" style="width: 100%; height: 100%;" placeholder="Description of donation" />
            </td>
            <td>
              <input type="number" ng-model="newdonor.funding" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" style="width: 100%" placeholder="$$$ (USD)" /><br />
              <input type="date" ng-model="newdonor.date_donated"  ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" />
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="newdonor.lifeweb_facilitated" ng-keydown="maybeAddItem($event, 'newdonor', 'donors')" /> Lifeweb Facilitated<br />
                </label>
              </div>
              <button type="button" ng-click="addItem('newdonor', 'donors')">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3>Note: all Expressions of Interests (projects) expire after a year</h3>

      <hr />

      <div class="form-group">
        <!--<button type="submit" ng-disabled="editProjectForm.$invalid" class="form-control">Save</button>-->
        <button type="submit" class="form-control">Save</button>
      </div>
    </form>
  </div>
  <div class="row" ng-show="tab=='review'" km-tab="review">
    <div class="col-xs-12">
      <div km-document-validation ng-model="validationReport"></div>
    </div>
  </div>
</div>
