
<!DOCTYPE html>
<html lang="en"  ng-app="app">
   <head>
    <meta charset="utf-8">
    <title>The LifeWeb Initiative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/app/lifeweb/ico/favicon.png">

    <link href="/app/lifeweb/css/bootstrap.css" rel="stylesheet">
    <link href="/app/lifeweb/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/app/lifeweb/css/lifeweb.css" rel="stylesheet">

	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/app/lifeweb/js/html5shiv.js"></script>
    <![endif]-->

    <script src="/app/lifeweb/app/js/app.js" ></script>


  </head>

  <body >
  
 <!-- NAVBAR
    ================================================== -->
     
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
                  <div ng-include src="'/app/lifeweb/navigation.html'"></div>
          </div>
        </div>
      </div>
  

    <div style="padding-top:70px;">
        
       <iframe src="http://carbonbiodiversitycalculator.unep-wcmc.org/"  height="860x"  width="100%"> </iframe>
       
    </div>

 

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/app/lifeweb/js/jquery.js"></script>
    <script src="/app/lifeweb/js/bootstrap-transition.js"></script>
    <script src="/app/lifeweb/js/bootstrap-alert.js"></script>
    <script src="/app/lifeweb/js/bootstrap-modal.js"></script>
    <script src="/app/lifeweb/js/bootstrap-dropdown.js"></script>
    <script src="/app/lifeweb/js/bootstrap-scrollspy.js"></script>
    <script src="/app/lifeweb/js/bootstrap-tab.js"></script>
    <script src="/app/lifeweb/js/bootstrap-tooltip.js"></script>
    <script src="/app/lifeweb/js/bootstrap-popover.js"></script>
    <script src="/app/lifeweb/js/bootstrap-button.js"></script>
    <script src="/app/lifeweb/js/bootstrap-collapse.js"></script>
    <script src="/app/lifeweb/js/bootstrap-carousel.js"></script>
    <script src="/app/lifeweb/js/bootstrap-typeahead.js"></script>
    <script>
        !function ($) {
            $(function () {
                $('#myCarousel').carousel({ interval: 7000 })
            })
        }(window.jQuery)
    </script>
    <script src="/app/lifeweb/js/holder.js"></script>

	  <!--CMS-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.js"></script>
	<script src="/app/js/app_0-0-0.js"></script>
	<script src="/app/js/directives/cms/cms-module.js"></script>
	<script src="/app/js/utilities/km-utilities.js"></script>
	<script src="/app/js/utilities/km-authentication.js"></script>
	<!--<placeholder id="script"/>-->
	<div class="cmsToolbar"></div>
</body>
</html>
