<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>The LifeWeb Initiative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/app/lifeweb/ico/favicon.png">

    <link href="/app/lifeweb/css/bootstrap.css" rel="stylesheet">
    <link href="/app/lifeweb/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/app/lifeweb/css/lifeweb.css" rel="stylesheet">

	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-sanitize.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/app/lifeweb/js/html5shiv.js"></script>
    <![endif]-->

    <script src="/app/lifeweb/app/js/app.js" ></script>
          <script src="/app/lifeweb/app/js/filters/filters.js" ></script>

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" >

    <!-- NAVBAR
    ================================================== -->
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
                  <div ng-include src="'/app/lifeweb/navigation.html'"></div>
          </div>
        </div>
      </div>

    <div class="container" style="min-height:800px!important;">
      
      <script>
          angular.module('app').controller('PCtrl', function ($scope, $http) {


              $http.jsonp('http://www.cbd.int/cbd/lifeweb/new/services/web/projects.aspx?callback=JSON_CALLBACK', { cache: true })
                  .success(function (data) {
                      $scope.projs = data;
                  });

              $http.jsonp('http://www.cbd.int/cbd/lifeweb/new/services/web/contactroles.aspx?callback=JSON_CALLBACK', { cache: true }).success(function (data) {
                  $scope.contacts = data;
              });

              $http.jsonp('http://www.cbd.int/cbd/lifeweb/new/services/web/focalpoints.aspx?callback=JSON_CALLBACK&type=powpa', { cache: true }).success(function (data) {
                  $scope.fp_powpa = data;
              });
 

          });


      </script>


       <!-- Docs nav
    ================================================== -->
        <div class="row span12" ng-controller="PCtrl" >

            <br><br<br><br><br><br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>URL</th>
                        <th>Contact</th>
                        <th>Focal Points</th>

                    </tr>
                    </thead>
                    <tr ng-repeat="proj in projs | filterIsFunded:''">
                        <td>{{$index+1}}</td>
                        <td>{{proj.id}}</td>
                        <td ng-bind-html="proj.title"></td>
                        <td style="white-space: nowrap">{{proj.date_submitted}}</td>
                        <td><a href="http://lifeweb.local/project?id={{proj.id}}">lifeweb.local/project?id={{proj.id}}</a></td>
                        <td>
                            <div ng-repeat="c in contacts | filterLeadContactByProject:proj.id">
                                {{c.contact.name}} ({{c.contact.email}}) 
                                <br><br>
                                <span style="color: #f00">{{c.contact.info}}</span>

                            </div>
                           
                        </td>

                        <td>
                            <div ng-repeat="fp in fp_powpa | filterFPByCountry:proj.country_codes">
                                <address>
                                    <strong>{{fp.Prefix}} {{fp.FirstName}} {{fp.LastName}}</strong><br>
                                    <span ng-show="fp.Designation != ''">{{fp.Designation}}<br>
                                    </span>
                                    <span ng-show="fp.Department!= ''">{{fp.Department}}<br>
                                    </span>
                                    <span ng-show="fp.Organization!= ''">{{fp.Organization}}<br>
                                    </span>
                                    <span ng-show="fp.Country!= ''">{{fp.Country}}<br>
                                    </span>
                                    <span ng-show="fp.Email!= ''"><a href="mailto:{{fp.Email}}">{{fp.Email}}</a></span>
                                </address>
                            </div>
                        </td>
                    </tr>
            </table>




        </div><!-- end row-->
</div><!-- end container -->

    <!-- FOOTER -->
      <footer>
        <div ng-include src="'/app/lifeweb/footer.html'"></div>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/app/lifeweb/js/jquery.js"></script>
    <script src="/app/lifeweb/js/bootstrap-transition.js"></script>
    <script src="/app/lifeweb/js/bootstrap-alert.js"></script>
    <script src="/app/lifeweb/js/bootstrap-modal.js"></script>
    <script src="/app/lifeweb/js/bootstrap-dropdown.js"></script>
    <script src="/app/lifeweb/js/bootstrap-scrollspy.js"></script>
    <script src="/app/lifeweb/js/bootstrap-tab.js"></script>
    <script src="/app/lifeweb/js/bootstrap-tooltip.js"></script>
    <script src="/app/lifeweb/js/bootstrap-popover.js"></script>
    <script src="/app/lifeweb/js/bootstrap-button.js"></script>
    <script src="/app/lifeweb/js/bootstrap-collapse.js"></script>
    <script src="/app/lifeweb/js/bootstrap-carousel.js"></script>
    <script src="/app/lifeweb/js/bootstrap-typeahead.js"></script>
    <script src="/app/lifeweb/js/holder.js"></script>

	<!--CMS-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.js"></script>
	<script src="/app/js/app_0-0-0.js"></script>
	<script src="/app/js/directives/cms/cms-module.js"></script>
	<script src="/app/js/utilities/km-utilities.js"></script>
	<script src="/app/js/utilities/km-authentication.js"></script>
	<!--<placeholder id="script"/>-->
	<div class="cmsToolbar"></div>
  </body>
</html>
