      <div class="container" style="padding-top: 100px; padding-left: 100px;" data-ng-controller="EventsCtrl">

           <div ng-controller="PageController" class="pull-right">
        <div ng-show="session.isAdministrator">
            <a href="https://www.cbd.int/database/edit.shtml?documentid={{eventID}}" target="_edit_" class="btn btn-warning">edit </a>
            <a href="http://www.cbd.int/admin/clearcachekey.shtml?key=DEVENTS" target="_refresh_" class="btn btn-info">refresh cache </a>
        </div>
    </div>

          <div class="row">
              
              <!-- left side bar -->
              <div class="span8">
                  <h1 class="title-divider" ng-bind-html="event.title"></h1>


                  <dl class="dl-horizontal">
                      <dt>
                          <img src="{{event.icon.url}}" ng-show="event.icon" class="img-polaroid" style="width:150px;margin-top:15px;" /></dt>
                      <dd>
                          <h3 style="color: #2185C5;" ng-bind-html="event.description"></h3>
                          <h3>{{event.date}}</h3>
                      </dd>
                  </dl>

                  <p ng-bind-html-unsafe="event.info"></p>

              </div><!-- end left side bar -->


              <!-- right side bar -->
              <div class="span4" >

                  <div ng-show="event.projects" >
                      <h3 class="title-divider">Expression(s) of Interest</h3>
                      <div ng-repeat="proj in event.projects">

                          <div class="media-body">
                              <span class="media-type" ng-bind-html="proj.country_names"></span>
                              <a href="/project?id={{proj.id}}">
                                  <img class="thumbnail pull-left" style="margin-right:5px;width: 50px;" src="http://www.cbd.int/images/lifeweb/eoi/thumbnails/{{proj.old_id}}.jpg" alt="" />
                                  <h4 class="media-heading" ng-bind-html="proj.title"></h4>
                              </a>
                              <span ng-bind-html="proj.summary"></span>
                              <br />

                              <div>
                                  <span ng-show="proj.is_funded" style="color: #F00;">FUNDED:&nbsp;</span>
                                  <span style="font-weight: bold; font-size: 13px;">Funding needed: <span class="label label-inverse">{{proj.funding_needed | filterCurrency:proj.currency}}</span> </span>
                              </div>

                          </div>

                      </div>
                  </div><!-- end projects -->

                 <div ng-show="event.documents">
                      <h3 class="title-divider">Documents</h3>
                      <div>
                          <ul ng-repeat="link in event.documents">
                              <li><a href="{{link.url}}" target="_new"><i class="icon-file"></i>{{link.name}}</a></li>
                          </ul>
                      </div>
                  </div><!-- end documents -->


                  <div ng-show="(event.images).length > 0">
                      <h3 class="title-divider">Images</h3>
                      <div >
                          <div ng-repeat="slide in event.images">
                              <a href="#myModal{{$index}}"  data-toggle="modal">
                                  <img src="{{slide.url}}&width=300" alt="x" style="width:300px;" class="img-polaroid img-rounded">
                              </a>
                              <br>
                              <!-- Modal -->
                              <div id="myModal{{$index}}" class="modal hide fade text-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">x</button><br>
                                  <img src="{{slide.url}}" alt="{{$index}}">
                                  <p>{{slide.name}}</p>
                              </div>
                          </div>
                      </div>
                  </div>





              </div><!-- end right side bar -->
          </div> <!-- end row-->
      </div><!-- end container-->

     <!-- FOOTER -->
      <footer>
        <div ng-include src="'/app/templates/footer.html'"></div>
      </footer>

	<div class="cmsToolbar"></div>
