
   <style>

       /* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}




    .lw-footerheader {
        color: #efefef;
        font-family: Sans-Serif;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px!important;
    }

    .lw-footerinfo {
        color: #efefef!important;
        font-family: Sans-Serif;
        font-size: 12px;
    }

    .lw_footerlink {
        list-style: none!important;
        text-align: left!important;
        margin: 0!important;
        line-height: 14px!important;
    }
</style>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45477215-1', 'cbd.int');
    ga('send', 'pageview');

</script>


<div  style="background-color: #046380; width:100%; margin-top:0px;border-top:10px solid #03455a; padding-top:0px;">

    <div class="container" style="background-color: #046380;padding-bottom:50px;">
        <div class="row" style="background-color: #046380;">


            <!-- Contact us-->
            <div class="col-lg-4" style="text-align:center;">
                <div style="text-align:left;">
                    <h3 style="color:#efefef;">Contact us</h3>
                  <table style="color:#efefef;">
                      <tr>
                          <td style="vertical-align:top;">
                      <img src="/app/lifeweb/images/lw_net.png" class="pull-left" style="width: 80px; padding-right: 10px; " />
                    <address style="color: #efefef;"></td>
                          <td>
                        <strong>The CBD LifeWeb Coordination Office</strong><br>
                        Saint Jacques Street, suite 800
                    <br>
                        Montreal, QC, CANADA  H2Y 1N9
                    <br>
                        <abbr title="Phone">P:</abbr>
                        +1 514 288 2220<br />
                        <abbr title="Phone">F:</abbr>
                        +1 514 288 6588
                    <br />
                        <abbr title="Phone">E:</abbr>
                        lifeweb@cbd.int 
                    </address>
                              </td>
                          </tr>
                      </table>
                </div>
            </div>


            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup controls" class="col-lg-5" >
                <div>
                     <h3 style="color:#efefef;">Our Mission</h3>
                    <span style="font-size: 110%; color: #efefef; background-color: transparent!important;"><strong>Our mission</strong> is to facilitate financing that helps secure livelihoods and address climate change through 
                    supporting the implementation of the Strategic Plan for Biodiversity 2011-2020 and the CBD Programme of Work on Protected Areas.</span>

                    <div style="padding-top: 10px;">
                        <span class="lw-footerheader" style="padding-top: 20px!important;">Subscribe to our mailing list</span>

                        <form class="form-inline" role="form" action="http://cbd.us2.list-manage.com/subscribe/post?u=42a68ff261d38de4d33dc9f2d&amp;id=cfa7ebf03a" method="post" id="mc-embedded-subscribe-form"
                            name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                            <div class="form-group">
                                <input type="email" class="form-control" value="" name="EMAIL" class="required email form-control " id="mce-EMAIL" placeholder="Email address">
                            </div>
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" class="btn btn-default">Subscribe</button>
                        </form>

                    </div>
                </div>
            </div>
            
            <!-- Sign in -->
            <div class="col-lg-3">
                <div signin ></div>
            </div>

        </div> <!--end row-->
    </div> <!--end container-->

</div>
