<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/"> <img src="/app/images/lw_logo.png"  alt="lw" class="lw-logo"></a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right nav-pills">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
          <a href="/aboutus" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="/aboutus#about">About LifeWeb</a></li>
              <li><a href="/aboutus#help">How LifeWeb Helps</a></li>
              <li><a href="/aboutus#sp">The Strategic Plan for Biodiversity 2011-2020</a></li>
              <li><a href="/aboutus#powpa">PoWPA and the “Area-based” Targets</a></li>
              <li><a href="/aboutus#mandate">LifeWeb's Mandate</a></li>
              <li><a href="/aboutus#rts">Financing Roundtables</a></li>
              <li><a href="/aboutus#faqs">Frequenty asked questions</a></li>
          </ul>
      </li>

      <li class="dropdown">
          <a href="/explore" class="dropdown-toggle" data-toggle="dropdown">Explore <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li class="nav-header disabled">Search</li>
              <li><a href="/explore">Projects</a></li>
              <li><a href="/matches">Donor matches</a></li>
              <!--<li><a href="/news">News and events</a></li>-->
              <li class="divider"></li>
              <li class="nav-header disabled">Browse</li>
              <li><a href="/countries">Projects by Country</a></li>
              <li><a href="/events">Roundtables and events</a></li>
              <!--<li><a href="/themes">by Theme</a></li>-->
              <li><a href="/map">Fullscreen Map</a></li>
              <li class="divider"></li>
              <li class="nav-header disabled">Campaigns</li>
              <li><a href="/campaigns/zeroextinction">Zero Extinction</a></li>
              <li><a href="/campaigns/islandresilience">Island Resilience</a></li>
    <!--<li><a href="#">Support Enabling Activies</a></li>
    <li><a href="#">Marine and Costal</a></li>
    <li><a href="#">Hyderabad Call for action</a></li>-->

          </ul>
      </li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Share <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="/share#profile">Profile your needs</a></li>
              <li><a href="/share#eligibility">Eligibility criteria</a></li>
              <li><a href="/share#download">Download the submission template</a></li>
          </ul>
      </li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benefits<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="/benefits#global">Global benefits</a></li>
              <li><a href="/benefits#ccm">Climate Change Mitigation</a></li>
              <li><a href="/benefits#cca">Climate Change Adaptation</a></li>
              <li><a href="/benefits#water">Fresh water security</a></li>
              <li><a href="/benefits#food">Food security</a></li>
              <li><a href="/benefits#health">Human health</a></li>
              <li><a href="/benefits#culture">Cultural and spiritual access</a></li>
              <li><a href="/benefits#income">Income generation</a></li>
              <li class="divider"></li>
              <li><a href="/benefits#targets">Area-based Aichi Targets</a></li>
              <li class="divider"></li>
              <li><a href="/benefits/carbon">Carbon Calculator</a></li>
          </ul>
      </li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="/connect#mail">Join our mailing list</a></li>
              <li><a href="/connect#contact">Contact us</a></li>
              <li><a href="https://www.facebook.com/pages/CBD-LifeWeb/149494725067720?fref=ts">Facebook</a></li>
              <li><a href="https://twitter.com/CBDLifeWeb">Twitter</a></li>
          </ul>
      </li>


      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/app/images/top-header-cbd-logo.png" alt="cbd" width="25" height="30" style="position: relative; top: -4px;">
              <span class="alignCBDLogo">CBD</span><b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="http://www.cbd.int/convention/">The Convention</a></li>
              <li><a href="http://bch.cbd.int/protocol/">Cartagena Protocol</a></li>
              <li><a href="http://www.cbd.int/abs/">Nagoya Protocol</a></li>
              <li><a href="http://www.cbd.int/programmes/">Programmes</a></li>
              <li><a href="http://www.cbd.int/information/">Information</a></li>
              <li><a href="http://www.cbd.int/secretariat">Secretariat</a></li>
          </ul>
      </li>

  </ul>
</div>
