
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The LifeWeb Initiative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="css/lifeweb.css" rel="stylesheet">
    <style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */


.title-divider
{
 border-bottom: 2px solid #ededed;
}

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.png">
  
  
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" >

    <!-- NAVBAR
    ================================================== -->
     
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <div ng-include src="navigation.html"></div>
        </div>
      </div>
    </div>
    
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container" >
   
   
       <!-- Docs nav
    ================================================== -->
    <div class="row" >
    
      <div class="span3 bs-docs-sidebar" >
        <ul class="nav nav-list bs-docs-sidenav ">
        <li><a href="#about"><i class="icon-chevron-right"></i>About LifeWeb</a></li>
          <li><a href="#mission"><i class="icon-chevron-right"></i>LifeWeb's Mission</a></li>
          <li><a href="#work"><i class="icon-chevron-right"></i>How LifeWeb Works</a></li>
          <li><a href="#background"><i class="icon-chevron-right"></i>Background and mandate</a></li>
          <li><a href="#resources"><i class="icon-chevron-right"></i>Important resources</a></li>
          <li><a href="#faqs"><i class="icon-chevron-right"></i>Frequently asked questions</a></li>
        </ul>
      </div>
      
      <div class="span9">

<!--==============================================================================-->     
      <section id="about" >    
         <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">About LifeWeb</h2>
         
          <p>LifeWeb is a partnership platform that strengthens financing for conservation action to conserve biodiversity, secure livelihoods and address climate change, through implementation of the Strategic Plan for Biodiversity 2011-2020 and the CBD Programme of Work on Protected Areas. </p>
          
      </section>
      
  <!--==============================================================================-->      
 <section id="mission" >     
   <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Our mission</h2> 
 
		<div class="well well-large net_bg" style="background-color:#e54b4b; color:white;padding:50px!important;" >
        <!-- <img class="featurette-image pull-right " src="images/lw_net.png" style="position:relative; top:60px;">-->
        <h2 class="featurette-heading">LifeWeb <span class="muted" style="color:#CCCCCC;"> partnerships for financing biodiversity</span></h2>
        <p class="lead">LifeWeb’s mission is to facilitate financing to help countries implement area-based conservation and sustainable development in support of the 2011-2020 Strategic Plan for Biodiversity.</p></div>
       
</section>

<!--==============================================================================-->  
<section id="work" > 
 <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">How LifeWeb works</h2> 
      <div class="featurette">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
</section>

<!--==============================================================================-->  
<section id="background" > 
 <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Background and mandate</h2> 
      <div class="featurette">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
</section>

<!--==============================================================================-->  
<section id="resources" > 
 <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Important resources</h2> 
      <div class="featurette">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
</section>

<!--==============================================================================-->  
<section id="faqs" > 
 <h2 class="title-divider featurette-heading" style="margin:47px 0 15px 0;padding:0;">Frequently asked questions</h2>
      <div class="featurette">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
</section>
      
      
</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->

      <!-- FOOTER -->
      <footer style="height:100px;margin-top:200px; background-color:#ededed;">
        <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
      </footer>





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="http://twitter.github.io/bootstrap/assets/js/holder/holder.js"></script>
  </body>
</html>
