
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>The LifeWeb Initiative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
<script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.min.js" ></script>

    <!-- Le styles -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="/app/lifeweb/css/lifeweb.css" rel="stylesheet">
    <link href="/app/lifeweb/app/css/lifeweb_search.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://twitter.github.io/bootstrap/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.png">
    <script src="app/lifeweb/app/js/app.js" ></script>

     <script>
         angular.module('app').controller('DonorCtrl', function ($scope, $http, Enumerable) {

                 $http.get('http://www.cbd.int/cbd/lifeweb/new/services/web/fundingmatches.aspx', { cache: true }).success(function (data) {
                     $scope.matches = data;
                 });
                 $http.get('http://www.cbd.int/cbd/lifeweb/new/services/web/projectsmin.aspx', { cache: true }).success(function (data) {
                     $scope.projects = data;
                 });
         });
    </script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" >

    <!-- NAVBAR
    ================================================== -->
     
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
                  <div ng-include src="'app/lifeweb/navigation.html'"></div>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    
    

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container" data-ng-controller="DonorCtrl">
       
   
 <!-- Docs nav
    ================================================== -->
    <div class="row ng-cloak"  >
      <div class="span3 bs-docs-sidebar" >
        <ul class="nav nav-list bs-docs-sidenav ">
        <li><a style="font-size:14px;color:#999; text-transform:uppercase;">Search by Match</a></li>
        <li ng-cloak><a href="#matches"><i class="icon-chevron-right"></i>
         Funding Matches ()
         </a>
       
       <input ng-model="search.keyword" style="width:98%;margin-top:12px;height:22px;" >

<select ng-model="search.lw_facilitated" style="width:100%;margin-top:12px;" >
  <option value="" selected>All Project Co-financing</option>
  <option value="ecoservices1">LifeWeb Facilitated</option>
  <option value="ecoservices2">Previously Co-financed</option>
</select>

<select ng-model="search.is_funded" style="width:100%;margin-top:5px;" >
  <option value="" selected>All Matches</option>
  <option value="true">Fully Funded</option>
<option value="all" >Partially Funded</option>
</select>

<select ng-model="search.year_submitted" style="width:100%;margin-top:5px;">
  <option value="" selected>Year Funded</option>
  <option value="2013">2013</option>
  <option value="2012">2012</option>
  <option value="2011">2011</option>
  <option value="2010">2010</option>
  <option value="2009">2009</option>
</select>

<select ng-model="search.funding_needed" style="width:100%;margin-top:5px;">
  <option value="" selected>Funding Amount</option>
  <option value="0">less than $0.5M USD</option>
  <option value="500000">$0.5M to $2.5M USD</option>
  <option value="2500000">$2.5M to $10M USD</option>
  <option value="10000000">more than $10M USD</option>
</select>

<!--<select ng-model="search.keywords" style="width:170px;margin-top:5px;" ng-options="keyword as keyword for keywords in project_keywords">
  <option value="" selected>Keyword</option>
</select>-->

<button type="button" class="btn">clear search</button> 

     
        </li>
         <li style="display:none;"><a href="/app/lifeweb/news"><i class="icon-chevron-right"></i>News and events</a></li>
        </ul>
      </div>
      
      <div class="span9" >

          <section id="matches"  style="margin:47px 0 0 0;" >
             
              <div ng-repeat="match in matches">

                  <!--******************************************** PROJECT SECTION ******************************************************-->
                  <div class="media project_well">

                      <table>
                          <tr>
                              <td class="media-type text-center" style="padding-right:10px!important;" >
                                  <a href="/projects?id={{match.project.id}}">
                                      <img ng-show="match.donor.logo" class="media-object img-rounded" width="50px" style="width:50px;" src="{{match.donor.logo}}" alt="donor" />
                                      <img ng-show="!match.donor.logo"  width="50px" style="width:50px;" src="/app/lifeweb/images/rotate.png" alt="donor" />

                                  </a></td>
                        
                              <td><h4>{{match.donor.name}}</h4></td>
                          </tr>
                          <tr>
                              <td class="media-type text-center;" style="vertical-align:top;padding-right:5px!important;">project:</td>
                              <td><a href="/project/?id={{match.project.id}}"><strong ng-bind-html-unsafe="match.project.title"></strong></a></td>
                          </tr>
                      </table>

                  </div>

          </section>

      
</div><!-- end span 9-->
</div><!-- end row-->
</div><!-- end container -->

      <!-- FOOTER -->
      <footer style="height:100px;margin-top:200px; background-color:#ededed;">
        <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
      </footer>





    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.io/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="http://twitter.github.io/bootstrap/assets/js/holder/holder.js"></script>
    
    <!--CMS-->
	<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.js"></script>
	<script src="/app/js/app_0-0-0.js"></script>
	<script src="/app/js/directives/cms/cms-module.js"></script>
	<script src="/app/js/utilities/km-utilities.js"></script>
	<script src="/app/js/utilities/km-authentication.js"></script>
	<!--<placeholder id="script"/>-->
	<div class="cmsToolbar"></div>
    
  </body>
</html>
